## 전처리 데이터 리스트 
- [14.5개시도_성연령별_총인구분포.csv공개12]

- [15.5개시도_1인가구수.csv공개14]

- [16.5개시도_인구데이터(외국인).csv공개11]

- [17.5개시도_기초수급자현황.csv공개5

- [21.5개시도_유흥업소_단란주점현황.csv공개6]

## 모듈 불러오기

In [1]:
import pandas as pd 
import numpy as np

# 14번 5개시도_성연령별_총인구분포  전처리

In [2]:
#14 
num14 = pd.read_csv('14.5개시도_성연령별_총인구분포.csv')
num14

,sido,sgg_nm,age,date,popu_num,popu_male_num,popu_female_num,popu_sx_rate,local_num,local_male_num,local_female_num,local_sx_rate
0,서울특별시,종로구,합계,2017,157277,76670,80607,95.1,146298,71757,74541,96.3
1,서울특별시,종로구,0~4세,2017,4137,2099,2038,103.0,4011,2039,1972,103.4
2,서울특별시,종로구,0세,2017,694,336,358,93.9,675,327,348,94.0
3,서울특별시,종로구,1세,2017,836,429,407,105.4,805,412,393,104.8
4,서울특별시,종로구,2세,2017,878,459,419,109.5,850,447,403,110.9
...,...,...,...,...,...,...,...,...,...,...,...,...
13819,서울특별시,중구,15세미만,2017,11035,5604,5431,103.2,10565,5334,5231,102.0
13820,서울특별시,중구,15~64세,2017,97649,48332,49317,98.0,88374,44025,44349,99.3
13821,서울특별시,중구,65세이상,2017,19212,8259,10953,75.4,18692,8032,10660,75.3
13822,서울특별시,중구,평균연령,2017,42.8,42.1,43.5,NaN,43.2,42.4,43.9,NaN
13823,서울특별시,중구,중위연령,2017,42.6,41.9,43.3,NaN,43.2,42.4,43.9,NaN

In [3]:
num14.info()
# popu_num    총 인구 수
# popu_male_num    남성 인구 수
# popu_female_num    여성 인구 수
# popu_sx_rate    총 인구의 성비
# local_num    내국인 수
# local_male_num    남성 내국인 수
# local_female_num    여성 내국인 수
# local_sx_rate    내국인 성비

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13824 entries, 0 to 13823
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sido              13824 non-null  object
 1   sgg_nm            13824 non-null  object
 2   age               13824 non-null  object
 3   date              13824 non-null  int64
 4   popu_num          13824 non-null  object
 5   popu_male_num     13824 non-null  object
 6   popu_female_num   13824 non-null  object
 7   popu_sx_rate      13607 non-null  float64
 8   local_num         13824 non-null  object
 9   local_male_num    13824 non-null  object
 10  local_female_num  13824 non-null  object
 11  local_sx_rate     13607 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 1.3+ MB

In [4]:
len(num14.sgg_nm.unique()), num14.sgg_nm.unique()

(36,
 array(['종로구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구',
        '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구',
        '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', '세종시', '수원시장안구',
        '수원시권선구', '수원시팔달구', '수원시영통구', '진주시', '창원시의창구', '창원시성산구',
        '창원시마산합포구', '창원시마산회원구', '창원시진해구', '중구'], dtype=object))

In [5]:
# 0명이 X로 처리되어있는 부분을 확인 
num14.popu_num.sort_values().head(50)
num14.popu_num.sort_values().tail(50)

4732     99167
7493      9917
7458      9919
13658      992
3054       992
9271      9926
13757     9926
5817      9927
4498       993
4192       993
10430     9932
11080     9933
12096     9934
5822      9939
2866      9949
11502      995
12675      995
227        995
7809      9952
7496      9955
6434      9956
9340     99567
7080      9959
7489      9959
7014       996
3934       996
95         996
3822       996
7775       997
1755      9974
13191     9975
2884      9981
8741      9990
7801         X
4087         X
8569         X
4086         X
13816        X
9081         X
8695         X
8953         X
13305        X
4089         X
3577         X
4472         X
4729         X
9337         X
8696         X
13304        X
4090         X
Name: popu_num, dtype: object

In [6]:
# X 를 0 으로 처리 
num14.popu_num.replace('X','0', inplace=True)
num14.popu_male_num.replace('X','0', inplace=True)
num14.popu_female_num.replace('X','0', inplace=True)

In [7]:
# 처리 확인 
num14.iloc[11001]
num14.popu_female_num.sort_values().tail(20)

10633     995
3591     9954
975      9957
13195     996
3992      996
8866      996
11989    9961
12319    9966
5218      997
514       997
9746      998
3854      998
906       998
3283      998
13463     998
4684      999
907       999
13724     999
2255     9994
7303     9995
Name: popu_female_num, dtype: object

In [8]:
# string 을 float -> int 로 변환 
num14['popu_num'] = num14['popu_num'].astype(float)
num14['popu_male_num'] = num14['popu_male_num'].astype(float)
num14['popu_female_num'] = num14['popu_female_num'].astype(float)

num14['popu_num'] = np.ceil( num14['popu_num']).astype(int) 
num14['popu_male_num'] = np.ceil( num14['popu_male_num']).astype(int)
num14['popu_female_num'] = np.ceil(num14['popu_female_num']).astype(int)

In [9]:
# 시군구 개수 확인 
len(num14.sgg_nm.unique())

36

In [10]:
# 모든 시군구에 인구 합계 데이터가 있음을 확인 
len( num14[num14.age=='합계'].groupby('sgg_nm').sum().index )

36

In [11]:
# 지역별/연도별/성별/총인구 
data14 = num14[num14.age=='합계'].groupby(['sgg_nm','date','age']).sum()[['popu_num', 'popu_male_num', 'popu_female_num']]
data14

                 popu_num  popu_male_num  popu_female_num
sgg_nm date age
강남구    2017 합계     522514         250087           272427
       2018 합계     507810         243579           264231
       2019 합계     509199         244403           264796
강동구    2017 합계     423978         209931           214047
       2018 합계     414231         204752           209479
...                   ...            ...              ...
창원시의창구 2018 합계     251931         128682           123249
       2019 합계     256001         130662           125339
창원시진해구 2017 합계     186658          95782            90876
       2018 합계     190276          97660            92616
       2019 합계     190885          98087            92798

[108 rows x 3 columns]

In [12]:
d14 = data14.reset_index()
d14

     sgg_nm  date age  popu_num  popu_male_num  popu_female_num
0       강남구  2017  합계    522514         250087           272427
1       강남구  2018  합계    507810         243579           264231
2       강남구  2019  합계    509199         244403           264796
3       강동구  2017  합계    423978         209931           214047
4       강동구  2018  합계    414231         204752           209479
..      ...   ...  ..       ...            ...              ...
103  창원시의창구  2018  합계    251931         128682           123249
104  창원시의창구  2019  합계    256001         130662           125339
105  창원시진해구  2017  합계    186658          95782            90876
106  창원시진해구  2018  합계    190276          97660            92616
107  창원시진해구  2019  합계    190885          98087            92798

[108 rows x 6 columns]

In [13]:
# 2020년 인구데이터 추가 
num14_20 = pd.read_csv('행정구역_시군구_별__성별_인구수_20210814033150.csv', encoding='CP949',
                      header=1)
num14_20.columns = ['sgg_nm','popu_num', 'popu_male_num', 'popu_female_num']
num14_20.iloc[-6:-1, 0 ] = '창원시' + num14_20.iloc[-6:-1, 0 ]
num14_20.iloc[-10:-6, 0 ] = '수원시'+num14_20.iloc[-10:-6, 0 ]
num14_20['year'] = 2020

num14_20

      sgg_nm  popu_num  popu_male_num  popu_female_num  year
0        종로구    149384          72635            76749  2020
1         중구    125240          61222            64018  2020
2        용산구    230040         110722           119318  2020
3        성동구    293556         143387           150169  2020
4        광진구    346682         167310           179372  2020
5       동대문구    342837         169769           173068  2020
6        중랑구    394702         195165           199537  2020
7        성북구    437153         210810           226343  2020
8        강북구    308055         150143           157912  2020
9        도봉구    325257         158620           166637  2020
10       노원구    523037         252383           270654  2020
11       은평구    479835         230279           249556  2020
12      서대문구    312173         149360           162813  2020
13       마포구    371890         175150           196740  2020
14       양천구    454251         222824           231427  2020
15       강서구    580185         280034           300151  2020
16       구로구    404408         199673           204735  2020
17       금천구    231733         117226           114507  2020
18      영등포구    379480         187647           191833  2020
19       동작구    391220         189152           202068  2020
20       관악구    495060         248339           246721  2020
21       서초구    425126         203359           221767  2020
22       강남구    539231         257999           281232  2020
23       송파구    667960         322299           345661  2020
24       강동구    459970         226216           233754  2020
25       세종시    355831         177568           178263  2020
26    수원시장안구    273661         137807           135854  2020
27    수원시권선구    368645         186050           182595  2020
28    수원시팔달구    174930          88180            86750  2020
29    수원시영통구    368842         185039           183803  2020
30    창원시의창구    262408         133544           128864  2020
31    창원시성산구    214570         109642           104928  2020
32  창원시마산합포구    175716          87418            88298  2020
33  창원시마산회원구    191289          95938            95351  2020
34    창원시진해구    192755          98736            94019  2020
35       진주시    348096         172107           175989  2020

In [14]:
d14.rename(columns={'date':'year'}, inplace=True)
d14.drop(columns='age', inplace=True)

In [15]:
# 2020 데이터를 합쳐준다 
dd14 = d14.append(num14_20)
dd14

      sgg_nm  year  popu_num  popu_male_num  popu_female_num
0        강남구  2017    522514         250087           272427
1        강남구  2018    507810         243579           264231
2        강남구  2019    509199         244403           264796
3        강동구  2017    423978         209931           214047
4        강동구  2018    414231         204752           209479
..       ...   ...       ...            ...              ...
31    창원시성산구  2020    214570         109642           104928
32  창원시마산합포구  2020    175716          87418            88298
33  창원시마산회원구  2020    191289          95938            95351
34    창원시진해구  2020    192755          98736            94019
35       진주시  2020    348096         172107           175989

[144 rows x 5 columns]

In [16]:
# 피벗으로 컬럼 교환 
aa = dd14.pivot_table(index='sgg_nm', columns='year')
aa

         popu_female_num                         popu_male_num          \
year                2017    2018    2019    2020          2017    2018
sgg_nm
강남구               272427  264231  264796  281232        250087  243579
강동구               214047  209479  210480  233754        209931  204752
강북구               161234  159110  156759  157912        152464  150028
강서구               298997  297910  296732  300151        282678  280629
관악구               254365  254616  253746  246721        256857  255687
광진구               186778  186542  185739  179372        177156  175762
구로구               218441  216679  218187  204735        218428  217086
금천구               122678  122066  122505  114507        127252  127278
노원구               279844  275359  269818  270654        263655  258737
도봉구               170642  168674  166582  166637        161944  159569
동대문구              180920  181818  180933  173068        176460  176323
동작구               204983  204267  206319  202068        195253  193713
마포구               193515  193987  195434  196740        175326  174194
서대문구              170213  169436  170281  162813        151132  149438
서초구               216309  213427  210765  221767        198241  196064
성동구               153307  156173  153058  150169        149060  150623
성북구               230349  227530  231495  226343        215068  211204
세종시               137242  155085  167988  178263        139347  157289
송파구               326230  328725  334875  345661        307723  309442
수원시권선구            180737  188137  185488  182595        183913  191697
수원시영통구            173040  175953  182812  183803        177778  180038
수원시장안구            145776  142710  139114  135854        149660  146009
수원시팔달구            101753   95803   93079   86750        104339   98496
양천구               229608  226616  224276  231427        222503  218975
영등포구              196631  197255  197180  191833        196929  198031
용산구               115427  116253  116247  119318        108471  110685
은평구               240430  239100  239454  249556        225813  223452
종로구                80607   80820   80089   76749         76670   77147
중구                 65701   66822   67551   64018         62195   62975
중랑구               200546  198069  195800  199537        196346  193599
진주시               176537  176105  177306  175989        176672  176228
창원시마산합포구           89334   89354   88867   88298         89417   89077
창원시마산회원구          100954   98466   96095   95351        101910   99217
창원시성산구            108487  108167  105463  104928        118239  117727
창원시의창구            122379  123249  125339  128864        128181  128682
창원시진해구             90876   92616   92798   94019         95782   97660

                         popu_num
year        2019    2020     2017    2018    2019    2020
sgg_nm
강남구       244403  257999   522514  507810  509199  539231
강동구       204807  226216   423978  414231  415287  459970
강북구       147112  150143   313698  309138  303871  308055
강서구       277365  280034   581675  578539  574097  580185
관악구       254082  248339   511222  510303  507828  495060
광진구       174027  167310   363934  362304  359766  346682
구로구       217373  199673   436869  433765  435560  404408
금천구       127242  117226   249930  249344  249747  231733
노원구       252662  252383   543499  534096  522480  523037
도봉구       156961  158620   332586  328243  323543  325257
동대문구      174161  169769   357380  358141  355094  342837
동작구       194049  189152   400236  397980  400368  391220
마포구       173893  175150   368841  368181  369327  371890
서대문구      149113  149360   321345  318874  319394  312173
서초구       194195  203359   414550  409491  404960  425126
성동구       146630  143387   302367  306796  299688  293556
성북구       213832  210810   445417  438734  445327  437153
세종시       170148  177568   276589  312374  338136  355831
송파구       313725  322299   633953  638167  648600  667960
수원시권선구    189282  186050   364650  379834  374770  368645
수원시영통구    186064  185039   350818  355991  368876  368842
수원시장안구    143174  137807   295436  288719  282288  273661
수원시팔달구     95973   88180   206092  194299  189052  174930
양천구       216078  222824   452111  445591  440354  454251
영등포구      196903  187647   393560  395286  394083  379480
용산구       110934  110722   223898  226938  227181  230040
은평구       222076  230279   466243  462552  461530  479835
종로구        74880   72635   157277  157967  154969  149384
중구         63406   61222   127896  129797  130957  125240
중랑구       190531  195165   396892  391668  386331  394702
진주시       176860  172107   353209  352333  354166  348096
창원시마산합포구   88712   87418   178751  178431  177579  175716
창원시마산회원구   96351   95938   202864  197683  192446  191289
창원시성산구    114488  109642   226726  225894  219951  214570
창원시의창구    130662  133544   250560  251931  256001  262408
창원시진해구     98087   98736   186658  190276  190885  192755

In [17]:
# 컬럼확인 
aa.columns

MultiIndex([('popu_female_num', 2017),
            ('popu_female_num', 2018),
            ('popu_female_num', 2019),
            ('popu_female_num', 2020),
            (  'popu_male_num', 2017),
            (  'popu_male_num', 2018),
            (  'popu_male_num', 2019),
            (  'popu_male_num', 2020),
            (       'popu_num', 2017),
            (       'popu_num', 2018),
            (       'popu_num', 2019),
            (       'popu_num', 2020)],
           names=[None, 'year'])

In [18]:
# 평균값으로 각 해의 상반기/하반기 데이터나눠서 입력
# 여성인구 
aa[('popu_female_num', '2017상')] = aa[('popu_female_num', 2017)]
aa[('popu_female_num', '2017하')] =  np.average( aa[[('popu_female_num', 2017), ('popu_female_num', 2018)]], axis=1).astype(int)
aa[('popu_female_num', '2018상')] = aa[('popu_female_num', 2018)]
aa[('popu_female_num', '2018하')] =  np.average( aa[[('popu_female_num', 2018), ('popu_female_num', 2019)]], axis=1).astype(int)
aa[('popu_female_num', '2019상')] = aa[('popu_female_num', 2019)]
aa[('popu_female_num', '2019하')] =  np.average( aa[[('popu_female_num', 2020), ('popu_female_num', 2019)]], axis=1).astype(int)
aa[('popu_female_num', '2020상')] = aa[('popu_female_num', 2020)]

# 남성인구
aa[('popu_male_num', '2017상')] = aa[('popu_male_num', 2017)]
aa[('popu_male_num', '2017하')] =  np.average( aa[[('popu_male_num', 2017), ('popu_male_num', 2018)]], axis=1).astype(int)
aa[('popu_male_num', '2018상')] = aa[('popu_male_num', 2018)]
aa[('popu_male_num', '2018하')] =  np.average( aa[[('popu_male_num', 2018), ('popu_male_num', 2019)]], axis=1).astype(int)
aa[('popu_male_num', '2019상')] = aa[('popu_male_num', 2019)]
aa[('popu_male_num', '2019하')] =  np.average( aa[[('popu_male_num', 2020), ('popu_male_num', 2019)]], axis=1).astype(int)
aa[('popu_male_num', '2020상')] = aa[('popu_male_num', 2020)]

# 전체인구
aa[('popu_num', '2017상')] = aa[('popu_num', 2017)]
aa[('popu_num', '2017하')] =  np.average( aa[[('popu_num', 2017), ('popu_num', 2018)]], axis=1).astype(int)
aa[('popu_num', '2018상')] = aa[('popu_num', 2018)]
aa[('popu_num', '2018하')] =  np.average( aa[[('popu_num', 2018), ('popu_num', 2019)]], axis=1).astype(int)
aa[('popu_num', '2019상')] = aa[('popu_num', 2019)]
aa[('popu_num', '2019하')] =  np.average( aa[[('popu_num', 2020), ('popu_num', 2019)]], axis=1).astype(int)
aa[('popu_num', '2020상')] = aa[('popu_num', 2020)]

In [19]:
# 상하반기로 나눈 데이터 
halves = aa.iloc[:, 12:]
halves

         popu_female_num                                                  \
year               2017상   2017하   2018상   2018하   2019상   2019하   2020상
sgg_nm
강남구               272427  268329  264231  264513  264796  273014  281232
강동구               214047  211763  209479  209979  210480  222117  233754
강북구               161234  160172  159110  157934  156759  157335  157912
강서구               298997  298453  297910  297321  296732  298441  300151
관악구               254365  254490  254616  254181  253746  250233  246721
광진구               186778  186660  186542  186140  185739  182555  179372
구로구               218441  217560  216679  217433  218187  211461  204735
금천구               122678  122372  122066  122285  122505  118506  114507
노원구               279844  277601  275359  272588  269818  270236  270654
도봉구               170642  169658  168674  167628  166582  166609  166637
동대문구              180920  181369  181818  181375  180933  177000  173068
동작구               204983  204625  204267  205293  206319  204193  202068
마포구               193515  193751  193987  194710  195434  196087  196740
서대문구              170213  169824  169436  169858  170281  166547  162813
서초구               216309  214868  213427  212096  210765  216266  221767
성동구               153307  154740  156173  154615  153058  151613  150169
성북구               230349  228939  227530  229512  231495  228919  226343
세종시               137242  146163  155085  161536  167988  173125  178263
송파구               326230  327477  328725  331800  334875  340268  345661
수원시권선구            180737  184437  188137  186812  185488  184041  182595
수원시영통구            173040  174496  175953  179382  182812  183307  183803
수원시장안구            145776  144243  142710  140912  139114  137484  135854
수원시팔달구            101753   98778   95803   94441   93079   89914   86750
양천구               229608  228112  226616  225446  224276  227851  231427
영등포구              196631  196943  197255  197217  197180  194506  191833
용산구               115427  115840  116253  116250  116247  117782  119318
은평구               240430  239765  239100  239277  239454  244505  249556
종로구                80607   80713   80820   80454   80089   78419   76749
중구                 65701   66261   66822   67186   67551   65784   64018
중랑구               200546  199307  198069  196934  195800  197668  199537
진주시               176537  176321  176105  176705  177306  176647  175989
창원시마산합포구           89334   89344   89354   89110   88867   88582   88298
창원시마산회원구          100954   99710   98466   97280   96095   95723   95351
창원시성산구            108487  108327  108167  106815  105463  105195  104928
창원시의창구            122379  122814  123249  124294  125339  127101  128864
창원시진해구             90876   91746   92616   92707   92798   93408   94019

         popu_male_num                  ...                         popu_num  \
year             2017상   2017하   2018상  ...   2019상   2019하   2020상    2017상
sgg_nm                                  ...
강남구             250087  246833  243579  ...  244403  251201  257999   522514
강동구             209931  207341  204752  ...  204807  215511  226216   423978
강북구             152464  151246  150028  ...  147112  148627  150143   313698
강서구             282678  281653  280629  ...  277365  278699  280034   581675
관악구             256857  256272  255687  ...  254082  251210  248339   511222
광진구             177156  176459  175762  ...  174027  170668  167310   363934
구로구             218428  217757  217086  ...  217373  208523  199673   436869
금천구             127252  127265  127278  ...  127242  122234  117226   249930
노원구             263655  261196  258737  ...  252662  252522  252383   543499
도봉구             161944  160756  159569  ...  156961  157790  158620   332586
동대문구            176460  176391  176323  ...  174161  171965  169769   357380
동작구             195253  194483  193713  ...  194049  191600  189152   400236
마포구             175326  174760  174194  ...  173893  174521  175150   368841
서대문구            151132  150285  149438  ...  149113  149236  149360   321345
서초구             198241  197152  196064  ...  194195  198777  203359   414550
성동구             149060  149841  150623  ...  146630  145008  143387   302367
성북구             215068  213136  211204  ...  213832  212321  210810   445417
세종시             139347  148318  157289  ...  170148  173858  177568   276589
송파구             307723  308582  309442  ...  313725  318012  322299   633953
수원시권선구          183913  187805  191697  ...  189282  187666  186050   364650
수원시영통구          177778  178908  180038  ...  186064  185551  185039   350818
수원시장안구          149660  147834  146009  ...  143174  140490  137807   295436
수원시팔달구          104339  101417   98496  ...   95973   92076   88180   206092
양천구             222503  220739  218975  ...  216078  219451  222824   452111
영등포구            196929  197480  198031  ...  196903  192275  187647   393560
용산구             108471  109578  110685  ...  110934  110828  110722   223898
은평구             225813  224632  223452  ...  222076  226177  230279   466243
종로구              76670   76908   77147  ...   74880   73757   72635   157277
중구               62195   62585   62975  ...   63406   62314   61222   127896
중랑구             196346  194972  193599  ...  190531  192848  195165   396892
진주시             176672  176450  176228  ...  176860  174483  172107   353209
창원시마산합포구         89417   89247   89077  ...   88712   88065   87418   178751
창원시마산회원구        101910  100563   99217  ...   96351   96144   95938   202864
창원시성산구          118239  117983  117727  ...  114488  112065  109642   226726
창원시의창구          128181  128431  128682  ...  130662  132103  133544   250560
창원시진해구           95782   96721   97660  ...   98087   98411   98736   186658


year       2017하   2018상   2018하   2019상   2019하   2020상
sgg_nm
강남구       515162  507810  508504  509199  524215  539231
강동구       419104  414231  414759  415287  437628  459970
강북구       311418  309138  306504  303871  305963  308055
강서구       580107  578539  576318  574097  577141  580185
관악구       510762  510303  509065  507828  501444  495060
광진구       363119  362304  361035  359766  353224  346682
구로구       435317  433765  434662  435560  419984  404408
금천구       249637  249344  249545  249747  240740  231733
노원구       538797  534096  528288  522480  522758  523037
도봉구       330414  328243  325893  323543  324400  325257
동대문구      357760  358141  356617  355094  348965  342837
동작구       399108  397980  399174  400368  395794  391220
마포구       368511  368181  368754  369327  370608  371890
서대문구      320109  318874  319134  319394  315783  312173
서초구       412020  409491  407225  404960  415043  425126
성동구       304581  306796  303242  299688  296622  293556
성북구       442075  438734  442030  445327  441240  437153
세종시       294481  312374  325255  338136  346983  355831
송파구       636060  638167  643383  648600  658280  667960
수원시권선구    372242  379834  377302  374770  371707  368645
수원시영통구    353404  355991  362433  368876  368859  368842
수원시장안구    292077  288719  285503  282288  277974  273661
수원시팔달구    200195  194299  191675  189052  181991  174930
양천구       448851  445591  442972  440354  447302  454251
영등포구      394423  395286  394684  394083  386781  379480
용산구       225418  226938  227059  227181  228610  230040
은평구       464397  462552  462041  461530  470682  479835
종로구       157622  157967  156468  154969  152176  149384
중구        128846  129797  130377  130957  128098  125240
중랑구       394280  391668  388999  386331  390516  394702
진주시       352771  352333  353249  354166  351131  348096
창원시마산합포구  178591  178431  178005  177579  176647  175716
창원시마산회원구  200273  197683  195064  192446  191867  191289
창원시성산구    226310  225894  222922  219951  217260  214570
창원시의창구    251245  251931  253966  256001  259204  262408
창원시진해구    188467  190276  190580  190885  191820  192755

[36 rows x 21 columns]

In [20]:
halves_save = halves.stack()
halves_save.reset_index(inplace=True)
halves_save

     sgg_nm   year  popu_female_num  popu_male_num  popu_num
0       강남구  2017상           272427         250087    522514
1       강남구  2017하           268329         246833    515162
2       강남구  2018상           264231         243579    507810
3       강남구  2018하           264513         243991    508504
4       강남구  2019상           264796         244403    509199
..      ...    ...              ...            ...       ...
247  창원시진해구  2018상            92616          97660    190276
248  창원시진해구  2018하            92707          97873    190580
249  창원시진해구  2019상            92798          98087    190885
250  창원시진해구  2019하            93408          98411    191820
251  창원시진해구  2020상            94019          98736    192755

[252 rows x 5 columns]

In [21]:
# 저장 
# halves_save.to_csv('전처리14_상하반기.csv', index=True, header=True, encoding='UTF-8')

# 15번 5개시도_1인가구수 전처리

In [22]:
#15 
num15 = pd.read_csv('15.5개시도_1인가구수.csv')
num15

,sido,sgg_nm,sx,age,date,single_person_hh,house_total_num,detached_house,apartment,townhouse,multiplex_house,house_in_commercial,not_in_house
0,서울특별시,종로구,계,합계,2017,23638,19260,11234,2992,887,3279,868,4378
1,서울특별시,종로구,계,20세 미만,2017,507,459,379,11,11,38,20,48
2,서울특별시,종로구,계,20~24,2017,2992,2519,1773,158,44,340,204,473
3,서울특별시,종로구,계,25~29,2017,3627,2845,1677,398,77,552,141,782
4,서울특별시,종로구,계,30~34,2017,2552,1970,1024,357,64,449,76,582
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5179,서울특별시,광진구,여자,65~69,2019,1401,1371,837,202,39,257,36,30
5180,서울특별시,광진구,여자,70~74,2019,1300,1268,783,164,35,254,32,32
5181,서울특별시,광진구,여자,75~79,2019,1221,1182,740,175,44,197,26,39
5182,서울특별시,광진구,여자,80~84,2019,849,802,471,170,20,122,19,47
5183,서울특별시,광진구,여자,85세 이상,2019,574,527,339,95,10,73,10,47

In [23]:
# 결측치와 데이터타입 확인 
num15.info()
# sido    시도
# sgg_nm    시군구
# sx    성별
# age    연령
# date    시점
# single_person_hh    1인가구
# house_total_num    주택_계
# detached_house    주택_단독주택
# apartment    주택_아파트
# townhouse    주택_연립주택
# multiplex_house    주택_다세대주택
# house_in_commercial    주택_비거주용건물내주택
# not_in_house    주택이외의거처

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5184 entries, 0 to 5183
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sido                 5184 non-null   object
 1   sgg_nm               5184 non-null   object
 2   sx                   5184 non-null   object
 3   age                  5184 non-null   object
 4   date                 5184 non-null   int64
 5   single_person_hh     5184 non-null   int64
 6   house_total_num      5184 non-null   int64
 7   detached_house       5184 non-null   int64
 8   apartment            5184 non-null   object
 9   townhouse            5184 non-null   object
 10  multiplex_house      5184 non-null   object
 11  house_in_commercial  5184 non-null   object
 12  not_in_house         5184 non-null   object
dtypes: int64(4), object(9)
memory usage: 526.6+ KB

In [24]:
len(num15.sgg_nm.unique()), num15.sgg_nm.unique()

(36,
 array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
        '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
        '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', '세종시', '수원시장안구',
        '수원시권선구', '수원시팔달구', '수원시영통구', '진주시', '창원시의창구', '창원시성산구',
        '창원시마산합포구', '창원시마산회원구', '창원시진해구'], dtype=object))

In [25]:
# 연령대 분포도 확인
num15.age.unique()

array(['합계', '20세 미만', '20~24', '25~29', '30~34', '35~39', '40~44',
       '45~49', '50~54', '55~59', '60~64', '65~69', '70~74', '75~79',
       '80~84', '85세 이상'], dtype=object)

In [26]:
# 지역별 중복확인 
num15[(num15.age.str.contains('계')) & (num15.sx=='계') & (num15.date==2017)].duplicated(['sgg_nm']).sum()
num15[(num15.age.str.contains('계')) & (num15.sx=='계') & (num15.date==2018)].duplicated(['sgg_nm']).sum()
num15[(num15.age.str.contains('계')) & (num15.sx=='계') & (num15.date==2019)].duplicated(['sgg_nm']).sum()
num15[(num15.age.str.contains('계')) & (num15.sx=='계') & (num15.date==2019)]

num15[ num15.duplicated(['sido','sgg_nm','sx','age','date']) ].sort_values(['sgg_nm','sx','age'])

# 세종시와 중구, 강서구 중복 확인 - 총 1008개 
num15[(num15.age.str.contains('계')) & (num15.sx=='계') & (num15.date==2019)].sort_values('sgg_nm')
# 'age','sx','sgg_nm','date'

,sido,sgg_nm,sx,age,date,single_person_hh,house_total_num,detached_house,apartment,townhouse,multiplex_house,house_in_commercial,not_in_house
4416,서울특별시,강남구,계,합계,2019,66073,55051,19287,19693,1066,12763,2242,11022
4512,서울특별시,강동구,계,합계,2019,45188,39516,18661,9843,352,9253,1407,5672
3744,서울특별시,강북구,계,합계,2019,42791,39843,21490,6993,905,9500,955,2948
4080,서울특별시,강서구,계,합계,2019,79371,56978,16447,23041,904,15622,964,22393
4320,서울특별시,관악구,계,합계,2019,119863,100459,64558,11833,1125,12544,10399,19404
5136,서울특별시,광진구,계,합계,2019,58714,52345,34357,4142,557,10857,2432,6369
4128,서울특별시,구로구,계,합계,2019,47740,35208,14535,12611,1385,5759,918,12532
4176,서울특별시,금천구,계,합계,2019,37778,28594,15237,5960,711,5651,1035,9184
3840,서울특별시,노원구,계,합계,2019,53365,50960,11610,33073,701,4632,944,2405
3792,서울특별시,도봉구,계,합계,2019,32653,29897,12137,10374,654,6131,601,2756
3600,서울특별시,동대문구,계,합계,2019,58152,50021,29191,11962,694,5628,2546,8131
4272,서울특별시,동작구,계,합계,2019,60088,55994,33222,9817,893,9721,2341,4094
3984,서울특별시,마포구,계,합계,2019,59248,47643,20927,11753,649,12595,1719,11605
3936,서울특별시,서대문구,계,합계,2019,46449,41741,21659,8957,1104,8507,1514,4708
4368,서울특별시,서초구,계,합계,2019,42667,35963,13101,11957,736,8744,1425,6704
3552,서울특별시,성동구,계,합계,2019,41488,36487,19009,12167,284,3455,1572,5001
3696,서울특별시,성북구,계,합계,2019,57832,53089,28593,12168,1206,8305,2817,4743
4560,세종특별자치시,세종시,계,합계,2019,39078,36744,13951,21798,352,384,259,2334
4464,서울특별시,송파구,계,합계,2019,68861,56406,16345,14509,723,22867,1962,12455
4656,경기도,수원시권선구,계,합계,2019,39353,36821,17620,11675,516,6101,909,2532
4752,경기도,수원시영통구,계,합계,2019,41299,31260,14545,14550,344,1016,805,10039
4608,경기도,수원시장안구,계,합계,2019,28505,27297,14209,6287,402,5589,810,1208
4704,경기도,수원시팔달구,계,합계,2019,28198,22903,10445,6281,676,4616,885,5295
4032,서울특별시,양천구,계,합계,2019,36345,33289,12308,9976,722,9695,588,3056
4224,서울특별시,영등포구,계,합계,2019,58214,38967,19313,12058,344,5356,1896,19247
3504,서울특별시,용산구,계,합계,2019,35148,30263,16782,6162,771,5954,594,4885
3888,서울특별시,은평구,계,합계,2019,52814,45351,17926,8711,907,16770,1037,7463
3408,서울특별시,종로구,계,합계,2019,24671,20018,11354,3336,927,3476,925,4653
3456,서울특별시,중구,계,합계,2019,22078,17378,7169,6589,345,2450,825,4700
3648,서울특별시,중랑구,계,합계,2019,52196,48599,29517,8886,890,7692,1614,3597
4800,경상남도,진주시,계,합계,2019,44003,42116,26112,13684,302,788,1230,1887
4944,경상남도,창원시마산합포구,계,합계,2019,23383,20572,12896,6557,365,293,461,2811
4992,경상남도,창원시마산회원구,계,합계,2019,20331,18830,10368,6799,681,634,348,1501
4896,경상남도,창원시성산구,계,합계,2019,20113,16079,6484,9364,39,10,182,4034
4848,경상남도,창원시의창구,계,합계,2019,28135,26730,17035,8387,344,576,388,1405
5040,경상남도,창원시진해구,계,합계,2019,20962,20371,10497,8438,655,598,183,591

In [27]:
# 세종시 중복확인 
num15[ num15.duplicated()]

Empty DataFrame
Columns: [sido, sgg_nm, sx, age, date, single_person_hh, house_total_num, detached_house, apartment, townhouse, multiplex_house, house_in_commercial, not_in_house]
Index: []

In [28]:
# 중구, 강서구 중복확인 
# 제일 첫 데이터가 통계청과 일치하므로 각 년도별 첫 데이터 사용 
num15[ (num15.sgg_nm=='중구') & (num15.age.str.contains('계')) & (num15.sx=='계')]
num15[ (num15.sgg_nm=='강서구') & (num15.age.str.contains('계')) & (num15.sx=='계')]

,sido,sgg_nm,sx,age,date,single_person_hh,house_total_num,detached_house,apartment,townhouse,multiplex_house,house_in_commercial,not_in_house
720,서울특별시,강서구,계,합계,2017,68237,50204,15992,19968,799,12569,876,18033
2400,서울특별시,강서구,계,합계,2018,73011,52875,15968,21221,823,13963,900,20136
4080,서울특별시,강서구,계,합계,2019,79371,56978,16447,23041,904,15622,964,22393

In [29]:
# 중복 제거 
num15 = num15.drop_duplicates(['sido','sgg_nm','sx','age','date'])
num15

,sido,sgg_nm,sx,age,date,single_person_hh,house_total_num,detached_house,apartment,townhouse,multiplex_house,house_in_commercial,not_in_house
0,서울특별시,종로구,계,합계,2017,23638,19260,11234,2992,887,3279,868,4378
1,서울특별시,종로구,계,20세 미만,2017,507,459,379,11,11,38,20,48
2,서울특별시,종로구,계,20~24,2017,2992,2519,1773,158,44,340,204,473
3,서울특별시,종로구,계,25~29,2017,3627,2845,1677,398,77,552,141,782
4,서울특별시,종로구,계,30~34,2017,2552,1970,1024,357,64,449,76,582
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5179,서울특별시,광진구,여자,65~69,2019,1401,1371,837,202,39,257,36,30
5180,서울특별시,광진구,여자,70~74,2019,1300,1268,783,164,35,254,32,32
5181,서울특별시,광진구,여자,75~79,2019,1221,1182,740,175,44,197,26,39
5182,서울특별시,광진구,여자,80~84,2019,849,802,471,170,20,122,19,47
5183,서울특별시,광진구,여자,85세 이상,2019,574,527,339,95,10,73,10,47

In [30]:
# 인덱스 정리 
num15.reset_index(drop=True, inplace=True)

# 컬럼 추리기 
num15 = num15.iloc[:, :6]
num15.rename(columns={'date':'year'}, inplace=True)

In [31]:
num15.age.unique()

array(['합계', '20세 미만', '20~24', '25~29', '30~34', '35~39', '40~44',
       '45~49', '50~54', '55~59', '60~64', '65~69', '70~74', '75~79',
       '80~84', '85세 이상'], dtype=object)

In [32]:
num15

       sido sgg_nm  sx     age  year  single_person_hh
0     서울특별시    종로구   계      합계  2017             23638
1     서울특별시    종로구   계  20세 미만  2017               507
2     서울특별시    종로구   계   20~24  2017              2992
3     서울특별시    종로구   계   25~29  2017              3627
4     서울특별시    종로구   계   30~34  2017              2552
...     ...    ...  ..     ...   ...               ...
5179  서울특별시    광진구  여자   65~69  2019              1401
5180  서울특별시    광진구  여자   70~74  2019              1300
5181  서울특별시    광진구  여자   75~79  2019              1221
5182  서울특별시    광진구  여자   80~84  2019               849
5183  서울특별시    광진구  여자  85세 이상  2019               574

[5184 rows x 6 columns]

In [33]:
# 2020년 데이터 불러오기 
df15_20 = pd.read_csv('성_및_연령별_1인가구시군구_2020.csv', encoding='CP949', header=[1])
df15_20['year'] = 2020
df15_20.rename( columns= {'행정구역별(시군구)':'sgg_nm'}, inplace=True )

df15_20

    sgg_nm     연령별   1인가구     남자     여자  year
0      종로구      합계  25983  12663  13320  2020
1      종로구  20세 미만    398    134    264  2020
2      종로구   20~24   3331   1209   2122  2020
3      종로구   25~29   4111   2229   1882  2020
4      종로구   30~34   2923   1664   1259  2020
..     ...     ...    ...    ...    ...   ...
571    진해구   65~69   1782    714   1068  2020
572    진해구   70~74   1368    424    944  2020
573    진해구   75~79   1127    243    884  2020
574    진해구   80~84    906    181    725  2020
575    진해구  85세 이상    566     98    468  2020

[576 rows x 6 columns]

In [34]:
df15_20.sgg_nm.unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', '세종특별자치시', '장안구',
       '권선구', '팔달구', '영통구', '진주시', '의창구', '성산구', '마산합포구', '마산회원구', '진해구'],
      dtype=object)

In [35]:
# 2020년 지역명을 맞춰준다 
df15_20['sgg_nm'] = df15_20.sgg_nm.replace('세종특별자치시', '세종시' )
df15_20['sgg_nm'] = df15_20.sgg_nm.replace('장안구', '수원시장안구' )
df15_20['sgg_nm'] = df15_20.sgg_nm.replace('권선구', '수원시권선구' )
df15_20['sgg_nm'] = df15_20.sgg_nm.replace('팔달구', '수원시팔달구' )
df15_20['sgg_nm'] = df15_20.sgg_nm.replace('영통구', '수원시영통구' )
df15_20['sgg_nm'] = df15_20.sgg_nm.replace('의창구', '창원시의창구' )
df15_20['sgg_nm'] = df15_20.sgg_nm.replace('성산구', '창원시성산구' )
df15_20['sgg_nm'] = df15_20.sgg_nm.replace('마산합포구', '창원시마산합포구' )
df15_20['sgg_nm'] = df15_20.sgg_nm.replace('마산회원구', '창원시마산회원구' )
df15_20['sgg_nm'] = df15_20.sgg_nm.replace('진해구', '창원시진해구' )

In [36]:
df15_20

     sgg_nm     연령별   1인가구     남자     여자  year
0       종로구      합계  25983  12663  13320  2020
1       종로구  20세 미만    398    134    264  2020
2       종로구   20~24   3331   1209   2122  2020
3       종로구   25~29   4111   2229   1882  2020
4       종로구   30~34   2923   1664   1259  2020
..      ...     ...    ...    ...    ...   ...
571  창원시진해구   65~69   1782    714   1068  2020
572  창원시진해구   70~74   1368    424    944  2020
573  창원시진해구   75~79   1127    243    884  2020
574  창원시진해구   80~84    906    181    725  2020
575  창원시진해구  85세 이상    566     98    468  2020

[576 rows x 6 columns]

In [37]:
# 피벗으로 성별을 한 컬럼으로 넣어준다 
tmp = df15_20.pivot_table(index=['sgg_nm', '연령별','year'] )
tmp.columns = pd.MultiIndex.from_product([['sx'], tmp.columns])
tmp
tmp = tmp.stack().reset_index(drop=False)
tmp

      sgg_nm     연령별  year level_3     sx
0        강남구   20~24  2020    1인가구   3590
1        강남구   20~24  2020      남자   1107
2        강남구   20~24  2020      여자   2483
3        강남구  20세 미만  2020    1인가구    498
4        강남구  20세 미만  2020      남자    246
...      ...     ...   ...     ...    ...
1723  창원시진해구  85세 이상  2020      남자     98
1724  창원시진해구  85세 이상  2020      여자    468
1725  창원시진해구      합계  2020    1인가구  22223
1726  창원시진해구      합계  2020      남자  12345
1727  창원시진해구      합계  2020      여자   9878

[1728 rows x 5 columns]

In [38]:
# tmp 의 컬럼 및 데이터 포맷을 맞춰준다 
tmp.rename( columns= {'sx':'single_person_hh', 'level_3':'sx', '연령별':'age'}, inplace=True)
tmp.sx = tmp.sx.replace('1인가구', '계')
tmp

      sgg_nm     age  year  sx  single_person_hh
0        강남구   20~24  2020   계              3590
1        강남구   20~24  2020  남자              1107
2        강남구   20~24  2020  여자              2483
3        강남구  20세 미만  2020   계               498
4        강남구  20세 미만  2020  남자               246
...      ...     ...   ...  ..               ...
1723  창원시진해구  85세 이상  2020  남자                98
1724  창원시진해구  85세 이상  2020  여자               468
1725  창원시진해구      합계  2020   계             22223
1726  창원시진해구      합계  2020  남자             12345
1727  창원시진해구      합계  2020  여자              9878

[1728 rows x 5 columns]

In [39]:
tmp.sx.unique()
tmp.age.unique()

array(['20~24', '20세 미만', '25~29', '30~34', '35~39', '40~44', '45~49',
       '50~54', '55~59', '60~64', '65~69', '70~74', '75~79', '80~84',
       '85세 이상', '합계'], dtype=object)

In [40]:
# 2020데이터까지 합쳐준다 
num15 = num15.append(tmp)
num15.drop('sido', axis=1, inplace=True)
num15

      sgg_nm  sx     age  year  single_person_hh
0        종로구   계      합계  2017             23638
1        종로구   계  20세 미만  2017               507
2        종로구   계   20~24  2017              2992
3        종로구   계   25~29  2017              3627
4        종로구   계   30~34  2017              2552
...      ...  ..     ...   ...               ...
1723  창원시진해구  남자  85세 이상  2020                98
1724  창원시진해구  여자  85세 이상  2020               468
1725  창원시진해구   계      합계  2020             22223
1726  창원시진해구  남자      합계  2020             12345
1727  창원시진해구  여자      합계  2020              9878

[6912 rows x 5 columns]

In [41]:
# 연령대별로 컬럼설정 
df15 = num15.pivot_table(index=['sgg_nm','sx','year'],columns='age')
df15

               single_person_hh                                               \
age                       20~24 20세 미만  25~29  30~34 35~39 40~44 45~49 50~54
sgg_nm sx year
강남구    계  2017             3277    539   9692  11378  8980  5878  4856  3331
          2018             3182    421   9982  10967  9206  5786  4805  3342
          2019             3362    607  10619  11474  9386  5964  5095  3551
          2020             3590    498  11221  12034  9433  6373  5181  3700
       남자 2017             1089    260   3878   5240  4177  2862  2627  1717
...                         ...    ...    ...    ...   ...   ...   ...   ...
창원시진해구 남자 2020              454     34   1193   1357  1492  1405  1440  1238
       여자 2017              198     29    431    463   468   450   543   654
          2018              188     20    465    502   494   452   565   660
          2019              240     26    552    512   478   423   591   686
          2020              240     24    609    504   504   447   609   739


age            55~59 60~64 65~69 70~74 75~79 80~84 85세 이상     합계
sgg_nm sx year
강남구    계  2017  3248  3093  2646  2174  1680  1107    895  62774
          2018  3071  3146  2614  2299  1733  1188    985  62727
          2019  3139  3386  2805  2470  1863  1255   1097  66073
          2020  3152  3482  3061  2697  2061  1343   1173  68999
       남자 2017  1462  1079   823   609   359   187    146  26515
...              ...   ...   ...   ...   ...   ...    ...    ...
창원시진해구 남자 2020  1064  1008   714   424   243   181     98  12345
       여자 2017   895   959   781   753   809   603    311   8347
          2018   917  1076   858   767   873   663    357   8857
          2019   892  1149   926   853   900   671    432   9331
          2020   900  1213  1068   944   884   725    468   9878

[432 rows x 16 columns]

In [42]:
# 연령대 재구성 데이터프레임 생성 
data15 = pd.DataFrame(index=df15.index)
data15['1인가구합계'] = df15[ ('single_person_hh', '합계') ]
data15['1인가구_10대'] = df15[ ('single_person_hh', '20세 미만') ]
data15['1인가구_20대'] = np.sum( df15[[ ('single_person_hh', '20~24'),('single_person_hh', '25~29'),
                 ]], axis=1 ) 
data15['1인가구_30대'] = np.sum( df15[[('single_person_hh', '30~34'),('single_person_hh', '35~39')]], axis=1)
data15['1인가구_40대'] = np.sum(  df15[[ ('single_person_hh', '40~44'),('single_person_hh', '45~49')]], axis=1 ) 
data15['1인가구_50대'] = np.sum( df15[[ ('single_person_hh', '50~54'),('single_person_hh', '55~59')]], axis=1)
data15['1인가구_60대이상'] = np.sum(  df15[[ ('single_person_hh', '60~64'),('single_person_hh', '65~69'),
                ('single_person_hh', '70~74'),('single_person_hh', '75~79'), 
                 ('single_person_hh', '80~84'),('single_person_hh', '85세 이상')]], axis=1 ) 
data15.columns = pd.MultiIndex.from_product([["single_person_hh"], data15.columns], names=[None,'age'])
data15 = data15.stack()
# data15.reset_index(inplace=True)

data15

                           single_person_hh
sgg_nm sx year age
강남구    계  2017 1인가구_10대                 539
               1인가구_20대               12969
               1인가구_30대               20358
               1인가구_40대               10734
               1인가구_50대                6579
...                                     ...
창원시진해구 여자 2020 1인가구_30대                1008
               1인가구_40대                1056
               1인가구_50대                1639
               1인가구_60대이상              5302
               1인가구합계                  9878

[3024 rows x 1 columns]

In [43]:
# 년도별 상하반기 구별 
_ = data15.pivot_table(index=['sgg_nm','sx','age'],columns='year')
_
halves15 = pd.DataFrame(index=_.index)
halves15['2017상'] = _[[('single_person_hh', 2017)]]
halves15['2017하'] = np.average( _[[ ('single_person_hh', 2017),('single_person_hh', 2018) ]], axis=1 ).astype(int)
halves15['2018상'] = _[[('single_person_hh', 2018)]]
halves15['2018하'] = np.average( _[[ ('single_person_hh', 2019),('single_person_hh', 2018) ]], axis=1 ).astype(int)
halves15['2019상'] = _[[('single_person_hh', 2019)]]
halves15['2019하'] = np.average( _[[ ('single_person_hh', 2019),('single_person_hh', 2020) ]], axis=1 ).astype(int)
halves15['2020상'] = _[[('single_person_hh', 2020)]]


halves15.columns = pd.MultiIndex.from_product([["single_person_hh"], halves15.columns], names=[None,'year'])
halves15 = halves15.stack()
halves15.reset_index(inplace=True)
halves15

      sgg_nm  sx       age   year  single_person_hh
0        강남구   계  1인가구_10대  2017상               539
1        강남구   계  1인가구_10대  2017하               480
2        강남구   계  1인가구_10대  2018상               421
3        강남구   계  1인가구_10대  2018하               514
4        강남구   계  1인가구_10대  2019상               607
...      ...  ..       ...    ...               ...
5287  창원시진해구  여자    1인가구합계  2018상              8857
5288  창원시진해구  여자    1인가구합계  2018하              9094
5289  창원시진해구  여자    1인가구합계  2019상              9331
5290  창원시진해구  여자    1인가구합계  2019하              9604
5291  창원시진해구  여자    1인가구합계  2020상              9878

[5292 rows x 5 columns]

In [44]:
# 연령별 컬럼으로 생성 
dd15 = halves15.pivot_table(index=['sgg_nm', 'year'], columns=['sx','age'])

dd15.columns = dd15.columns.get_level_values(2).astype(str) + '_' +  dd15.columns.get_level_values(1).astype(str)
dd15.reset_index(drop=False, inplace=True) 
dd15

,sgg_nm,year,1인가구_10대_계,1인가구_20대_계,1인가구_30대_계,1인가구_40대_계,1인가구_50대_계,1인가구_60대이상_계,1인가구합계_계,1인가구_10대_남자,...,1인가구_50대_남자,1인가구_60대이상_남자,1인가구합계_남자,1인가구_10대_여자,1인가구_20대_여자,1인가구_30대_여자,1인가구_40대_여자,1인가구_50대_여자,1인가구_60대이상_여자,1인가구합계_여자
0,강남구,2017상,539,12969,20358,10734,6579,11595,62774,260,...,3179,3203,26515,279,8002,10941,5245,3400,8392,36259
1,강남구,2017하,480,13066,20265,10662,6496,11780,62750,219,...,3191,3264,26616,261,8005,10865,5181,3305,8515,36134
2,강남구,2018상,421,13164,20173,10591,6413,11965,62727,178,...,3203,3326,26718,243,8009,10790,5118,3210,8639,36009
3,강남구,2018하,514,13572,20516,10825,6551,12420,64400,227,...,3279,3503,27452,287,8238,10943,5289,3272,8917,36947
4,강남구,2019상,607,13981,20860,11059,6690,12876,66073,276,...,3355,3681,28187,331,8467,11097,5461,3335,9195,37886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,창원시진해구,2018상,43,2092,3903,3516,3634,6776,19964,23,...,2057,2182,11107,20,653,996,1017,1577,4594,8857
248,창원시진해구,2018하,44,2273,3882,3586,3668,7008,20463,21,...,2091,2246,11369,23,722,993,1015,1577,4762,9094
249,창원시진해구,2019상,46,2454,3862,3656,3703,7241,20962,20,...,2125,2310,11631,26,792,990,1014,1578,4931,9331
250,창원시진해구,2019하,52,2475,3859,3778,3822,7605,21592,27,...,2213,2489,11988,25,820,999,1035,1608,5116,9604
251,창원시진해구,2020상,58,2496,3857,3901,3941,7970,22223,34,...,2302,2668,12345,24,849,1008,1056,1639,5302,9878

In [45]:
dd15.columns

Index(['sgg_nm', 'year', '1인가구_10대_계', '1인가구_20대_계', '1인가구_30대_계',
       '1인가구_40대_계', '1인가구_50대_계', '1인가구_60대이상_계', '1인가구합계_계', '1인가구_10대_남자',
       '1인가구_20대_남자', '1인가구_30대_남자', '1인가구_40대_남자', '1인가구_50대_남자',
       '1인가구_60대이상_남자', '1인가구합계_남자', '1인가구_10대_여자', '1인가구_20대_여자',
       '1인가구_30대_여자', '1인가구_40대_여자', '1인가구_50대_여자', '1인가구_60대이상_여자',
       '1인가구합계_여자'],
      dtype='object')

In [46]:
# 저장 
# dd15.to_csv('전처리15_1인가구.csv', header=True, index=False, encoding='UTF-8-SIG')

# 16 5개시도_인구데이터(외국인)

In [47]:
num16 = pd.read_csv('16.5개시도_인구데이터(외국인).csv')
num16

,sido,sgg,foreigner_all(2017),foreigner_M(2017),foreigner_F(2017),foreigner_all(2018),foreigner_M(2018),foreigner_F(2018),foreigner_all(2019),foreigner_M(2019),foreigner_F(2019)
0,서울특별시,종로구,10979,4913,6066,12056,5536,6520,13159,5818,7341
1,서울특별시,중구,10265,4804,5461,11988,5735,6253,12559,6025,6534
2,서울특별시,용산구,16005,8712,7293,19126,10879,8247,20503,11621,8882
3,서울특별시,성동구,10436,5042,5394,11307,5403,5904,11774,5610,6164
4,서울특별시,광진구,18399,8323,10076,19729,9032,10697,20925,9474,11451
5,서울특별시,동대문구,17942,7483,10459,19848,8324,11524,21049,8852,12197
6,서울특별시,중랑구,6013,2475,3538,6586,2728,3858,7091,2962,4129
7,서울특별시,성북구,13191,5694,7497,14523,6173,8350,15552,6621,8931
8,서울특별시,강북구,4443,1719,2724,4947,1971,2976,5346,2088,3258
9,서울특별시,도봉구,2629,1059,1570,2951,1199,1752,3320,1380,1940
10,서울특별시,노원구,4731,2092,2639,5828,2613,3215,6279,2878,3401
11,서울특별시,은평구,5592,2425,3167,5970,2634,3336,6390,2793,3597
12,서울특별시,서대문구,13152,4812,8340,14366,5230,9136,16319,6031,10288
13,서울특별시,마포구,11960,5015,6945,12776,5375,7401,14307,6079,8228
14,서울특별시,양천구,5468,2468,3000,5681,2594,3087,6221,2867,3354
15,서울특별시,강서구,8682,4114,4568,9179,4347,4832,9043,4156,4887
16,서울특별시,구로구,41907,22656,19251,45686,25064,20622,46036,25097,20939
17,서울특별시,금천구,25443,13673,11770,27524,14990,12534,27554,14956,12598
18,서울특별시,영등포구,46708,24709,21999,49151,26406,22745,48180,25835,22345
19,서울특별시,동작구,16009,7454,8555,17321,8117,9204,17972,8292,9680
20,서울특별시,관악구,24475,11466,13009,25418,11872,13546,25352,11877,13475
21,서울특별시,서초구,6538,3168,3370,7143,3604,3539,7935,4273,3662
22,서울특별시,강남구,7655,3706,3949,8814,4623,4191,9725,5354,4371
23,서울특별시,송파구,9418,4476,4942,10123,4937,5186,10917,5425,5492
24,서울특별시,강동구,5887,2791,3096,6384,3034,3350,6669,3198,3471
25,세종특별자치시,세종시,5290,3130,2160,6486,3887,2599,7829,4860,2969
26,경기도,수원시 장안구,8435,4467,3968,9822,5240,4582,10413,5475,4938
27,경기도,수원시 권선구,12741,6569,6172,14701,7546,7155,15339,7914,7425
28,경기도,수원시 팔달구,18908,10124,8784,19984,10870,9114,20451,11174,9277
29,경기도,수원시 영통구,8508,4648,3860,9182,4989,4193,9983,5268,4715
30,경상남도,진주시,5638,3464,2174,6492,4036,2456,7152,4284,2868
31,경상남도,창원시 의창구,4834,3010,1824,5074,3030,2044,5100,2991,2109
32,경상남도,창원시 성산구,4937,3608,1329,5101,3642,1459,5191,3635,1556
33,경상남도,창원시 마산합포구,2583,1565,1018,2873,1726,1147,3145,1882,1263
34,경상남도,창원시 마산회원구,2770,1635,1135,2770,1614,1156,2871,1611,1260
35,경상남도,창원시 진해구,4344,2855,1489,4651,2951,1700,4917,3149,1768

In [48]:
num16.info()
# sido    시도
# sgg    시군구
# foreigner_all(2017)    2017년 기준 총 외국인 인구 수
# foreigner_M(2017)    2017년 기준 외국인 남성 인구 수
# foreigner_F(2017)    2017년 기준 외국인 여성 인구 수
# foreigner_all(2018)    2018년 기준 총 외국인 인구 수
# foreigner_M(2018)    2018년 기준 외국인 남성 인구 수
# foreigner_F(2018)    2018년 기준 외국인 여성 인구 수
# foreigner_all(2019)    2019년 기준 총 외국인 인구 수
# foreigner_M(2019)    2019년 기준 외국인 남성 인구 수
# foreigner_F(2019)    2019년 기준 외국인 여성 인구 수

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sido                 36 non-null     object
 1   sgg                  36 non-null     object
 2   foreigner_all(2017)  36 non-null     int64
 3   foreigner_M(2017)    36 non-null     int64
 4   foreigner_F(2017)    36 non-null     int64
 5   foreigner_all(2018)  36 non-null     int64
 6   foreigner_M(2018)    36 non-null     int64
 7   foreigner_F(2018)    36 non-null     int64
 8   foreigner_all(2019)  36 non-null     int64
 9   foreigner_M(2019)    36 non-null     int64
 10  foreigner_F(2019)    36 non-null     int64
dtypes: int64(9), object(2)
memory usage: 3.2+ KB

In [49]:
num16.index

RangeIndex(start=0, stop=36, step=1)

In [50]:
#2020년 데이터 
df16_20 = pd.read_csv('성별_외국인시군구2020.csv', encoding='CP949', header=[1])
df16_20['year'] = 2020
df16_20.rename( columns= {'행정구역별(시군구)':'sgg_nm'}, inplace=True )
# 2020년 지역명을 맞춰준다 
df16_20['sgg_nm'] = df16_20.sgg_nm.replace('세종특별자치시', '세종시' )
df16_20['sgg_nm'] = df16_20.sgg_nm.replace('장안구', '수원시장안구' )
df16_20['sgg_nm'] = df16_20.sgg_nm.replace('권선구', '수원시권선구' )
df16_20['sgg_nm'] = df16_20.sgg_nm.replace('팔달구', '수원시팔달구' )
df16_20['sgg_nm'] = df16_20.sgg_nm.replace('영통구', '수원시영통구' )
df16_20['sgg_nm'] = df16_20.sgg_nm.replace('의창구', '창원시의창구' )
df16_20['sgg_nm'] = df16_20.sgg_nm.replace('성산구', '창원시성산구' )
df16_20['sgg_nm'] = df16_20.sgg_nm.replace('마산합포구', '창원시마산합포구' )
df16_20['sgg_nm'] = df16_20.sgg_nm.replace('마산회원구', '창원시마산회원구' )
df16_20['sgg_nm'] = df16_20.sgg_nm.replace('진해구', '창원시진해구' )
df16_20

      sgg_nm    외국인     남자     여자  year
0        종로구  11573   5143   6430  2020
1         중구  11492   5422   6070  2020
2        용산구  17280   9296   7984  2020
3        성동구  10652   4827   5825  2020
4        광진구  19982   8795  11187  2020
5       동대문구  19224   7977  11247  2020
6        중랑구   7405   2944   4461  2020
7        성북구  13538   5475   8063  2020
8        강북구   5184   1942   3242  2020
9        도봉구   3127   1174   1953  2020
10       노원구   5745   2558   3187  2020
11       은평구   6200   2560   3640  2020
12      서대문구  14307   5367   8940  2020
13       마포구  12722   5208   7514  2020
14       양천구   5847   2566   3281  2020
15       강서구   8902   3860   5042  2020
16       구로구  45610  24731  20879  2020
17       금천구  27116  14476  12640  2020
18      영등포구  46970  24932  22038  2020
19       동작구  15932   7196   8736  2020
20       관악구  24096  10972  13124  2020
21       서초구   7423   3593   3830  2020
22       강남구   9278   4612   4666  2020
23       송파구  10262   4762   5500  2020
24       강동구   6587   3002   3585  2020
25    수원시장안구   9958   5125   4833  2020
26    수원시권선구  15372   7737   7635  2020
27    수원시팔달구  20356  10930   9426  2020
28    수원시영통구   9644   4781   4863  2020
29       진주시   6426   3693   2733  2020
30    창원시의창구   4770   2673   2097  2020
31    창원시성산구   4545   3028   1517  2020
32  창원시마산합포구   2831   1652   1179  2020
33  창원시마산회원구   2698   1449   1249  2020
34    창원시진해구   4607   2815   1792  2020

In [51]:
# 2020 데이터 성별을 한 컬럼으로 
tmp16 = df16_20.pivot_table(index=['sgg_nm','year'] )
tmp16.columns = pd.MultiIndex.from_product([['sx'], tmp16.columns])
tmp16
# pd.MultiIndex.from_product([["single_person_hh"], data16.columns], names=[None,'age'])
tmp16 = tmp16.stack().reset_index(drop=False)
tmp16.rename( columns= {'sx':'외국인인구', 'level_2':'sx'}, inplace=True)
tmp16.sx = tmp16.sx.replace('외국인', '계')
tmp16

     sgg_nm  year  sx  외국인인구
0       강남구  2020  남자   4612
1       강남구  2020  여자   4666
2       강남구  2020   계   9278
3       강동구  2020  남자   3002
4       강동구  2020  여자   3585
..      ...   ...  ..    ...
100  창원시의창구  2020  여자   2097
101  창원시의창구  2020   계   4770
102  창원시진해구  2020  남자   2815
103  창원시진해구  2020  여자   1792
104  창원시진해구  2020   계   4607

[105 rows x 4 columns]

In [52]:
# 컬럼이름 변경, 시도 정보 제거, 시군구 인덱스 설정 
num16.rename(columns={'sgg':'sgg_nm'}, inplace=True)
num16.drop(columns='sido', inplace=True)
num16.sgg_nm = num16.sgg_nm.replace(' ', '')
num16.set_index('sgg_nm', inplace=True)

In [53]:
data16 = num16.T
n1 = ['2017','2018','2019']
n2 = ['계','남자','여자']
data16.index = pd.MultiIndex.from_product([n1,n2], names=['year','sx'] )
data16 = data16.stack().to_frame()
data16.reset_index(inplace=True)
data16.rename(columns={0:'외국인인구'},inplace=True)

In [54]:
len(tmp16), len(data16)

(105, 324)

In [55]:
# 17~19와 20년도의 데이터를 합쳐준다 
df16 = tmp16.append(data16)
df16.year = df16.year.astype(int)
df16.sgg_nm = df16.sgg_nm.str.replace(' ', '')
df16

       sgg_nm  year  sx  외국인인구
0         강남구  2020  남자   4612
1         강남구  2020  여자   4666
2         강남구  2020   계   9278
3         강동구  2020  남자   3002
4         강동구  2020  여자   3585
..        ...   ...  ..    ...
319    창원시의창구  2019  여자   2109
320    창원시성산구  2019  여자   1556
321  창원시마산합포구  2019  여자   1263
322  창원시마산회원구  2019  여자   1260
323    창원시진해구  2019  여자   1768

[429 rows x 4 columns]

In [63]:
# 상하반기 분리 
dd16 = df16.pivot_table(columns='year', index=['sgg_nm','sx'])
dd16

half16 = pd.DataFrame(index=dd16.index)
half16['2017상'] = dd16[[('외국인인구', 2017)]].astype(int)
half16['2017하'] = np.average( dd16[[ ('외국인인구', 2017),('외국인인구', 2018) ]], axis=1 ).astype(int)
half16['2018상'] = dd16[[('외국인인구', 2018)]].astype(int)
half16['2018하'] = np.average( dd16[[ ('외국인인구', 2019),('외국인인구', 2018) ]], axis=1 ).astype(int)
half16['2019상'] = dd16[[('외국인인구', 2019)]].astype(int)
half16['2019하'] = np.average( dd16[[ ('외국인인구', 2019),('외국인인구', 2020) ]], axis=1 ).astype(int)
half16['2020상'] = dd16[[('외국인인구', 2020)]]


half16.columns = pd.MultiIndex.from_product([["외국인인구"], half16.columns], names=[None,'year'])
half16 = half16.stack()
half16.외국인인구 = half16.외국인인구.astype(int)
half16.reset_index(inplace=True)
half16

     sgg_nm  sx   year  외국인인구
0       강남구   계  2017상   7655
1       강남구   계  2017하   8234
2       강남구   계  2018상   8814
3       강남구   계  2018하   9269
4       강남구   계  2019상   9725
..      ...  ..    ...    ...
748  창원시진해구  여자  2018상   1700
749  창원시진해구  여자  2018하   1734
750  창원시진해구  여자  2019상   1768
751  창원시진해구  여자  2019하   1780
752  창원시진해구  여자  2020상   1792

[753 rows x 4 columns]

In [64]:
half16 = half16.pivot_table( index=['sgg_nm', 'year'], columns=['sx'],values='외국인인구')
half16

sx               계    남자    여자
sgg_nm year
강남구    2017상  7655  3706  3949
       2017하  8234  4164  4070
       2018상  8814  4623  4191
       2018하  9269  4988  4281
       2019상  9725  5354  4371
...            ...   ...   ...
창원시진해구 2018상  4651  2951  1700
       2018하  4784  3050  1734
       2019상  4917  3149  1768
       2019하  4762  2982  1780
       2020상  4607  2815  1792

[251 rows x 3 columns]

In [65]:
# 컬럼 이름 맞춰준다 
halves16 = half16.add_prefix('외국인인구_')
halves16.reset_index(inplace=True)
halves16

sx   sgg_nm   year  외국인인구_계  외국인인구_남자  외국인인구_여자
0       강남구  2017상     7655      3706      3949
1       강남구  2017하     8234      4164      4070
2       강남구  2018상     8814      4623      4191
3       강남구  2018하     9269      4988      4281
4       강남구  2019상     9725      5354      4371
..      ...    ...      ...       ...       ...
246  창원시진해구  2018상     4651      2951      1700
247  창원시진해구  2018하     4784      3050      1734
248  창원시진해구  2019상     4917      3149      1768
249  창원시진해구  2019하     4762      2982      1780
250  창원시진해구  2020상     4607      2815      1792

[251 rows x 5 columns]

In [66]:
# 저장 
# halves16.to_csv('전처리16.csv', encoding='UTF-8', header=True, index=True)

# 17 5개시도_기초수급자현황.csv

In [67]:
num17 = pd.read_csv('17.5개시도_기초수급자현황.csv') 
num17

          date   sido sgg_nm  age  num
0       201706  서울특별시    종로구    4    4
1       201706  서울특별시    종로구   45   26
2       201706  서울특별시    종로구   46   55
3       201706  서울특별시    종로구   47   37
4       201706  서울특별시    종로구   48   51
...        ...    ...    ...  ...  ...
145466  202105   경상남도    진주시   39   94
145467  202105   경상남도    진주시   40  122
145468  202105   경상남도    진주시   41  135
145469  202105   경상남도    진주시   42  114
145470  202105   경상남도    진주시   43  109

[145471 rows x 5 columns]

In [68]:
num17.info()
# date    통계년월
# sido    통계시도명
# sgg_nm    통계시군구명
# age    연령
# num    수급자수

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145471 entries, 0 to 145470
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    145471 non-null  int64
 1   sido    145471 non-null  object
 2   sgg_nm  145471 non-null  object
 3   age     145471 non-null  int64
 4   num     145471 non-null  int64
dtypes: int64(3), object(2)
memory usage: 5.5+ MB

In [69]:
# 중복확인
num17.duplicated(['sido','sgg_nm', 'date','age']).sum()

2931

In [70]:
# 중복제거 
num17 = num17.drop_duplicates(['sgg_nm', 'date','age'], ignore_index=True)
num17

          date   sido sgg_nm  age  num
0       201706  서울특별시    종로구    4    4
1       201706  서울특별시    종로구   45   26
2       201706  서울특별시    종로구   46   55
3       201706  서울특별시    종로구   47   37
4       201706  서울특별시    종로구   48   51
...        ...    ...    ...  ...  ...
142535  202105   경상남도    진주시   39   94
142536  202105   경상남도    진주시   40  122
142537  202105   경상남도    진주시   41  135
142538  202105   경상남도    진주시   42  114
142539  202105   경상남도    진주시   43  109

[142540 rows x 5 columns]

In [71]:
# 월별 기초수급자 인원  
d17 = num17.groupby(['sgg_nm','date']).sum()[['num']]
d17

                 num
sgg_nm date
강남구    201706  10722
       201707  10752
       201708  10750
       201709  10732
       201710  10723
...              ...
창원시    202101  34724
       202102  35110
       202103  35760
       202104  36426
       202105  37076

[1392 rows x 1 columns]

In [72]:
# 시간을 컬럼으로 
p17 = d17.pivot_table(index=['sgg_nm'], columns='date', values='num')
p17

date,201706,201707,201708,201709,201710,201711,201712,201801,201802,201803,...,202008,202009,202010,202011,202012,202101,202102,202103,202104,202105
sgg_nm,,,,,,,,,,,,,,,,,,,,,
강남구,10722,10752,10750,10732,10723,10724,10564,10577,10574,10517,...,13638,13862,13989,14099,14061,14088,14162,14272,14531,14724
강동구,9283,9317,9310,9338,9318,9323,9167,9182,9206,9083,...,13110,13332,13608,13817,14245,14496,14752,14966,15166,15431
강북구,14720,14686,14668,14698,14689,14727,14669,14664,14705,14576,...,18822,18987,19167,19385,19581,19592,19747,19843,20130,20529
강서구,20363,20342,20360,20415,20413,20458,20322,20311,20360,20239,...,26214,26600,26909,27181,27358,27481,27658,27902,28434,28930
관악구,12582,12600,12649,12700,12739,12801,12759,12751,12803,12716,...,18540,18827,19259,19689,20128,20379,20532,20736,21163,21628
광진구,7325,7338,7329,7355,7407,7449,7337,7352,7405,7316,...,11347,11522,11645,11755,11795,11824,11966,12306,12571,12733
구로구,8052,8015,8017,7996,7972,7992,7985,7889,7863,7772,...,11231,11418,11609,11759,11850,11978,12107,12194,12351,12466
금천구,9203,9184,9198,9182,9181,9187,9079,9048,9005,8911,...,10963,11067,11140,11263,11308,11458,11562,11682,11839,11961
노원구,23730,23606,23595,23610,23618,23651,23464,23395,23414,23237,...,29487,29845,30070,30223,30368,30397,30512,30780,30881,31208
도봉구,10370,10313,10335,10375,10388,10492,10344,10317,10378,10253,...,13202,13285,13389,13487,13600,13683,13788,13938,14060,14265
동대문구,11142,11159,11189,11218,11208,11205,11079,11084,11109,10932,...,14267,14429,14544,14684,14856,14961,15104,15176,15460,15593
동작구,7385,7435,7483,7535,7563,7622,7606,7578,7571,7470,...,11588,11690,11819,11952,12049,12115,12211,12383,12626,12766
마포구,7144,7170,7184,7215,7197,7211,7131,7155,7200,7139,...,9708,9794,9831,9887,9917,9928,10004,10141,10273,10343
서대문구,7105,7109,7106,7124,7126,7137,7118,7065,7067,6980,...,9557,9746,9845,9983,10111,10164,10341,10549,10799,11009
서초구,4675,4658,4666,4680,4702,4715,4692,4693,4695,4656,...,6323,6400,6494,6565,6648,6652,6670,6720,6870,7056
성동구,6855,6877,6887,6914,6871,6918,6889,6885,6904,6853,...,9358,9492,9554,9565,9594,9613,9672,9752,9870,9978
성북구,12052,12106,12119,12137,12119,12084,11952,11970,11983,11826,...,14734,14840,15051,15186,15238,15228,15274,15320,15511,15552
세종특별자치시,3785,3799,3812,3832,3850,3850,3766,3815,3801,3798,...,6320,6412,6536,6530,6587,6622,6715,6793,6899,7058
송파구,9071,9068,9108,9153,9179,9249,9167,9178,9209,9059,...,15165,15311,15430,15578,15702,15843,16014,16077,16430,16631
수원시,17269,17352,17357,17457,17520,17587,17333,17362,17428,17362,...,22649,22852,23059,23271,23476,23545,23640,23963,24328,24732
양천구,10094,10085,10093,10142,10175,10194,10065,10085,10116,10015,...,15138,15344,15584,15691,15794,15894,16048,16223,16459,16654
영등포구,7359,7377,7375,7375,7404,7422,7291,7302,7307,7262,...,10012,10136,10267,10359,10458,10484,10594,10756,10877,10990
용산구,5624,5631,5686,5708,5714,5686,5688,5700,5702,5674,...,7653,7835,7953,7991,8017,8093,8195,8297,8407,8465
은평구,15202,15159,15098,15225,15255,15366,15230,15205,15282,15032,...,21522,21712,22006,22190,22465,22602,22748,22889,23226,23442
종로구,3636,3641,3640,3630,3649,3661,3620,3639,3635,3604,...,4540,4536,4573,4597,4623,4599,4654,4726,4805,4897
중구,3809,3798,3820,3836,3853,3881,3857,3846,3842,3794,...,5029,5090,5117,5140,5185,5198,5255,5308,5432,5519
중랑구,14622,14688,14749,14832,14868,14894,14734,14742,14843,14587,...,22574,23015,23692,24029,24293,24494,24690,25066,25191,25579
진주시,11579,11568,11583,11562,11524,11545,11332,11344,11369,11290,...,13863,13904,14032,14043,14108,14178,14244,14287,14373,14656
창원시,23657,23695,23732,23788,23803,23754,23361,23330,23424,23096,...,33224,33656,33972,34064,34448,34724,35110,35760,36426,37076

In [73]:
# 해당 시간대 확인 
p17.columns

Int64Index([201706, 201707, 201708, 201709, 201710, 201711, 201712, 201801,
            201802, 201803, 201804, 201805, 201806, 201807, 201808, 201809,
            201810, 201811, 201812, 201901, 201902, 201903, 201904, 201905,
            201906, 201907, 201908, 201909, 201910, 201911, 201912, 202001,
            202002, 202003, 202004, 202005, 202006, 202007, 202008, 202009,
            202010, 202011, 202012, 202101, 202102, 202103, 202104, 202105],
           dtype='int64', name='date')

In [74]:
# 상반기/하반기 평균값! 
df17 = pd.DataFrame(index=p17.index)

df17['2017상'] = p17[201706]
df17['2017하'] = np.average( p17.loc[:, 201707:201712], axis=1 ).astype(int)
df17['2018상'] = np.average( p17.loc[:, 201801:201806], axis=1 ).astype(int)
df17['2018하'] = np.average( p17.loc[:, 201807:201812], axis=1 ).astype(int)
df17['2019상'] = np.average( p17.loc[:, 201901:201906], axis=1 ).astype(int)
df17['2019하'] = np.average( p17.loc[:, 201907:201912], axis=1 ).astype(int)
df17['2020상'] = np.average( p17.loc[:, 202001:202006], axis=1 ).astype(int)
df17['2020하'] = np.average( p17.loc[:, 202007:202012], axis=1 ).astype(int)

df17

         2017상  2017하  2018상  2018하  2019상  2019하  2020상  2020하
sgg_nm
강남구      10722  10707  10533  10467  11341  12046  12627  13840
강동구       9283   9295   9147   9398  10377  11036  11888  13504
강북구      14720  14689  14698  15230  16416  17151  17855  19100
강서구      20363  20385  20294  20825  22451  23394  24575  26701
관악구      12582  12708  12794  13265  14620  15455  16824  19108
광진구       7325   7369   7443   7995   9000   9478  10255  11546
구로구       8052   7996   7826   8063   8893   9616  10438  11495
금천구       9203   9168   8967   9089   9646  10007  10423  11095
노원구      23730  23590  23391  24127  25963  26860  28011  29875
도봉구      10370  10374  10349  10704  11321  11748  12291  13335
동대문구     11142  11176  11055  11533  12568  12867  13466  14480
동작구       7385   7540   7551   8064   9555  10050  10622  11753
마포구       7144   7184   7179   7468   8164   8478   9057   9793
서대문구      7105   7120   7079   7554   8266   8568   8862   9779
서초구       4675   4685   4696   4913   5579   5767   5970   6443
성동구       6855   6892   6887   7213   7987   8260   8687   9466
성북구      12052  12086  11899  12005  12827  13237  13727  14930
세종특별자치시   3785   3818   3834   4099   4695   5076   5635   6444
송파구       9071   9154   9197  10202  12223  12923  13763  15336
수원시      17269  17434  17502  18324  20406  21014  21695  22959
양천구      10094  10125  10118  10860  12400  13221  14110  15427
영등포구      7359   7374   7304   7608   8222   8625   9300  10196
용산구       5624   5685   5722   5941   6436   6669   6981   7817
은평구      15202  15222  15165  16126  18138  18807  19873  21849
종로구       3636   3640   3619   3685   3930   4053   4301   4560
중구        3809   3840   3849   3992   4300   4438   4684   5089
중랑구      14622  14794  14794  15654  17569  18972  20566  23325
진주시      11579  11519  11355  11726  12499  12878  13260  13953
창원시      23657  23688  23410  24749  27273  28603  30642  33721

In [75]:
# 데이터프레임 컬럼 맞춰준다 
re17 = df17.stack().to_frame()
re17.reset_index(inplace=True)
re17.columns = ['sgg_nm','year','welfare']
re17

    sgg_nm   year  welfare
0      강남구  2017상    10722
1      강남구  2017하    10707
2      강남구  2018상    10533
3      강남구  2018하    10467
4      강남구  2019상    11341
..     ...    ...      ...
227    창원시  2018하    24749
228    창원시  2019상    27273
229    창원시  2019하    28603
230    창원시  2020상    30642
231    창원시  2020하    33721

[232 rows x 3 columns]

## 수원시 구별로 기초수급자 데이터 찾기 
- 주어진 데이터 안에서는 수원시의 기초수급자 데이터만 존재 
- 각 구의 데이터 보완

In [81]:
# https://www.suwon.go.kr/web/1004/board/BD_board.list.do?bbsCd=1202&q_ctgCd=1001&q_currPage=1
# https://kosis.kr/statHtml/statHtml.do?orgId=611&tblId=DT_K210002

#17-18년 데이터 
sw1 = pd.read_csv('국민기초생활보장_수급자_수원_1718.csv', encoding='CP949',
                 skiprows=[1,2],header=[0])
sw1.rename( columns= {'행정구역(구동)별(1)':'sgg_nm'}, inplace=True )
sw1.set_index('sgg_nm', inplace=True)
sw1.columns = pd.MultiIndex.from_product([['welfare'],['2017','2018']], names=[None,'year'])
sw1 = sw1.stack()
sw1.reset_index(drop=False, inplace=True)
sw1

  sgg_nm  year  welfare
0    장안구  2017     4308
1    장안구  2018     5011
2    권선구  2017     5233
3    권선구  2018     6120
4    팔달구  2017     5066
5    팔달구  2018     5424
6    영통구  2017     2172
7    영통구  2018     2527

In [84]:
# 19년 데이터 
sw19 = pd.read_csv('2019수원_국민기초생활보장.csv', thousands=',')
sw19.지역 = sw19.지역.str.replace(' ','')
sw19 = sw19[sw19.지역.str.endswith('구')]
sw19.인원 = sw19.인원.str.replace(',','').astype(int)
sw19.reset_index(drop=True) 
sw19['year'] = 2019
sw19.rename(columns={'인원':'welfare', '지역':'sgg_nm'}, inplace=True)
sw19

   sgg_nm  welfare  year
0     장안구     5260  2019
12    권선구     6611  2019
25    팔달구     5656  2019
36    영통구     2979  2019

In [85]:
# 17~19 합쳐준다 
sw = sw1.append(sw19)
sw.sgg_nm = '수원시'+sw.sgg_nm
sw.year = sw.year.astype(int)
sw

    sgg_nm  year  welfare
0   수원시장안구  2017     4308
1   수원시장안구  2018     5011
2   수원시권선구  2017     5233
3   수원시권선구  2018     6120
4   수원시팔달구  2017     5066
5   수원시팔달구  2018     5424
6   수원시영통구  2017     2172
7   수원시영통구  2018     2527
0   수원시장안구  2019     5260
12  수원시권선구  2019     6611
25  수원시팔달구  2019     5656
36  수원시영통구  2019     2979

In [86]:
# 상하반기 나눠주기 
_17 = sw.pivot_table(columns='year', index='sgg_nm')
_17

sw17 = pd.DataFrame(index=_17.index)
sw17['2017상'] = _17[[('welfare', 2017)]]
sw17['2017하'] = np.average( _17[[ ('welfare', 2017),('welfare', 2018) ]], axis=1 ).astype(int)
sw17['2018상'] = _17[[('welfare', 2018)]]
sw17['2018하'] = np.average( _17[[ ('welfare', 2019),('welfare', 2018) ]], axis=1 ).astype(int)
sw17['2019상'] = _17[[('welfare', 2019)]]

sw17.columns = pd.MultiIndex.from_product([['welfare'],sw17.columns], names=[None,'year'])
sw17 = sw17.stack()
sw17.reset_index(inplace=True)
sw17

    sgg_nm   year  welfare
0   수원시권선구  2017상     5233
1   수원시권선구  2017하     5676
2   수원시권선구  2018상     6120
3   수원시권선구  2018하     6365
4   수원시권선구  2019상     6611
5   수원시영통구  2017상     2172
6   수원시영통구  2017하     2349
7   수원시영통구  2018상     2527
8   수원시영통구  2018하     2753
9   수원시영통구  2019상     2979
10  수원시장안구  2017상     4308
11  수원시장안구  2017하     4659
12  수원시장안구  2018상     5011
13  수원시장안구  2018하     5135
14  수원시장안구  2019상     5260
15  수원시팔달구  2017상     5066
16  수원시팔달구  2017하     5245
17  수원시팔달구  2018상     5424
18  수원시팔달구  2018하     5540
19  수원시팔달구  2019상     5656

In [87]:
# 전체와 합쳐준다 
data17 = re17.append(sw17)
data17 = data17.set_index('sgg_nm').drop(index = '수원시')
data17.reset_index(inplace=True)
data17.sgg_nm = data17.sgg_nm.replace( '세종특별자치시', '세종시')
data17

     sgg_nm   year  welfare
0       강남구  2017상    10722
1       강남구  2017하    10707
2       강남구  2018상    10533
3       강남구  2018하    10467
4       강남구  2019상    11341
..      ...    ...      ...
239  수원시팔달구  2017상     5066
240  수원시팔달구  2017하     5245
241  수원시팔달구  2018상     5424
242  수원시팔달구  2018하     5540
243  수원시팔달구  2019상     5656

[244 rows x 3 columns]

In [88]:
data17.sgg_nm.unique()

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '세종시',
       '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구', '진주시',
       '창원시', '수원시권선구', '수원시영통구', '수원시장안구', '수원시팔달구'], dtype=object)

In [89]:
# 수원 2020 데이터를 구하기 위해 19/21년 데이터 사용 
sw21 = pd.DataFrame( data = [['수원시장안구', '2021상', 5479 ], ['수원시권선구','2021상',7260],
                      ['수원시팔달구','2021상',5871] ,['수원시영통구', '2021상', 3183]]) 
sw21.columns=['sgg_nm', 'year', 'welfare']
sw21 = sw21.sort_values('sgg_nm')
sw21

   sgg_nm   year  welfare
1  수원시권선구  2021상     7260
3  수원시영통구  2021상     3183
0  수원시장안구  2021상     5479
2  수원시팔달구  2021상     5871

In [92]:
# 19년 데이터 
sw19 = data17[ (data17.sgg_nm.str.contains('수원')) & (data17.year.str.contains('19'))]
sw19

     sgg_nm   year  welfare
228  수원시권선구  2019상     6611
233  수원시영통구  2019상     2979
238  수원시장안구  2019상     5260
243  수원시팔달구  2019상     5656

In [93]:
# 20년 데이터 생성 - 19와 21의 평균사용 
sw20 = sw19.copy()
sw20.year = sw20.year.str.replace('19','20')
sw20
sw20['welfare'] = np.average([sw19.iloc[:,2], sw21.iloc[:,2]], axis=0).astype(int)
sw20

     sgg_nm   year  welfare
228  수원시권선구  2020상     6935
233  수원시영통구  2020상     3081
238  수원시장안구  2020상     5369
243  수원시팔달구  2020상     5763

In [99]:
# # 병합 
f17 = data17.append([sw20])
f17

     sgg_nm   year  welfare
0       강남구  2017상    10722
1       강남구  2017하    10707
2       강남구  2018상    10533
3       강남구  2018하    10467
4       강남구  2019상    11341
..      ...    ...      ...
243  수원시팔달구  2019상     5656
228  수원시권선구  2020상     6935
233  수원시영통구  2020상     3081
238  수원시장안구  2020상     5369
243  수원시팔달구  2020상     5763

[248 rows x 3 columns]

In [100]:
# 2019하반기 데이터 생성 
sw19_2 = sw19.copy()
sw19_2.year = sw19_2.year.str.replace('상','하')
sw19_2
sw19_2['welfare'] = np.average([sw19.iloc[:,2], sw20.iloc[:,2]], axis=0).astype(int)
sw19_2

     sgg_nm   year  welfare
228  수원시권선구  2019하     6773
233  수원시영통구  2019하     3030
238  수원시장안구  2019하     5314
243  수원시팔달구  2019하     5709

In [101]:
# 병합 
f17 = f17.append(sw19_2)
f17

     sgg_nm   year  welfare
0       강남구  2017상    10722
1       강남구  2017하    10707
2       강남구  2018상    10533
3       강남구  2018하    10467
4       강남구  2019상    11341
..      ...    ...      ...
243  수원시팔달구  2020상     5763
228  수원시권선구  2019하     6773
233  수원시영통구  2019하     3030
238  수원시장안구  2019하     5314
243  수원시팔달구  2019하     5709

[252 rows x 3 columns]

## 창원시 /5 
- 창원시도 마찬가지로 각 구의 데이터가 없으므로
- 창원시의 데이터를 5개구에게 동일하게 나눠준다

In [102]:
# 5개 구 생성, 데이터/5 
cw = data17[ data17.sgg_nm=='창원시']
cw.sgg_nm = cw.sgg_nm.str.replace('창원시$','창원시마산회원구')
cw = cw.append(data17[ data17.sgg_nm=='창원시'] )
cw.sgg_nm = cw.sgg_nm.str.replace('창원시$','창원시마산합포구')
cw = cw.append(data17[ data17.sgg_nm=='창원시'] )
cw.sgg_nm = cw.sgg_nm.str.replace('창원시$','창원시성산구')
cw = cw.append(data17[ data17.sgg_nm=='창원시'] )
cw.sgg_nm = cw.sgg_nm.str.replace('창원시$','창원시의창구')
cw = cw.append(data17[ data17.sgg_nm=='창원시'] )
cw.sgg_nm = cw.sgg_nm.str.replace('창원시$','창원시진해구')
cw['welfare'] = (cw['welfare']/5).astype(int)
cw

/opt/app-root/lib/python3.6/site-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

       sgg_nm   year  welfare
216  창원시마산회원구  2017상     4731
217  창원시마산회원구  2017하     4737
218  창원시마산회원구  2018상     4682
219  창원시마산회원구  2018하     4949
220  창원시마산회원구  2019상     5454
221  창원시마산회원구  2019하     5720
222  창원시마산회원구  2020상     6128
223  창원시마산회원구  2020하     6744
216  창원시마산합포구  2017상     4731
217  창원시마산합포구  2017하     4737
218  창원시마산합포구  2018상     4682
219  창원시마산합포구  2018하     4949
220  창원시마산합포구  2019상     5454
221  창원시마산합포구  2019하     5720
222  창원시마산합포구  2020상     6128
223  창원시마산합포구  2020하     6744
216    창원시성산구  2017상     4731
217    창원시성산구  2017하     4737
218    창원시성산구  2018상     4682
219    창원시성산구  2018하     4949
220    창원시성산구  2019상     5454
221    창원시성산구  2019하     5720
222    창원시성산구  2020상     6128
223    창원시성산구  2020하     6744
216    창원시의창구  2017상     4731
217    창원시의창구  2017하     4737
218    창원시의창구  2018상     4682
219    창원시의창구  2018하     4949
220    창원시의창구  2019상     5454
221    창원시의창구  2019하     5720
222    창원시의창구  2020상     6128
223    창원시의창구  2020하     6744
216    창원시진해구  2017상     4731
217    창원시진해구  2017하     4737
218    창원시진해구  2018상     4682
219    창원시진해구  2018하     4949
220    창원시진해구  2019상     5454
221    창원시진해구  2019하     5720
222    창원시진해구  2020상     6128
223    창원시진해구  2020하     6744

In [103]:
# 데이터 병합 
f17 = data17.append(cw)
f17 = f17.set_index('sgg_nm').drop(index = '창원시')
f17.reset_index(inplace=True)
f17

     sgg_nm   year  welfare
0       강남구  2017상    10722
1       강남구  2017하    10707
2       강남구  2018상    10533
3       강남구  2018하    10467
4       강남구  2019상    11341
..      ...    ...      ...
271  창원시진해구  2018하     4949
272  창원시진해구  2019상     5454
273  창원시진해구  2019하     5720
274  창원시진해구  2020상     6128
275  창원시진해구  2020하     6744

[276 rows x 3 columns]

In [104]:
# 저장 
# f17.to_csv('전처리17.기초수급자.csv',index=False, header=True, encoding='utf-8-sig')

# 경찰서이름

In [108]:
pol = pd.read_csv('경찰서이름.csv', encoding='UTF-8')
pol = pol.sort_values('NAME')
pol.reset_index(drop=True, inplace=True)
pol

        NAME  PNAME
0    마산동부경찰서    경남청
1    마산중부경찰서    경남청
2    서울강남경찰서    서울청
3    서울강동경찰서    서울청
4    서울강북경찰서    서울청
5    서울강서경찰서    서울청
6    서울관악경찰서    서울청
7    서울광진경찰서    서울청
8    서울구로경찰서    서울청
9    서울금천경찰서    서울청
10  서울남대문경찰서    서울청
11   서울노원경찰서    서울청
12   서울도봉경찰서    서울청
13  서울동대문경찰서    서울청
14   서울동작경찰서    서울청
15   서울마포경찰서    서울청
16   서울방배경찰서    서울청
17  서울서대문경찰서    서울청
18   서울서부경찰서    서울청
19   서울서초경찰서    서울청
20   서울성동경찰서    서울청
21   서울성북경찰서    서울청
22   서울송파경찰서    서울청
23   서울수서경찰서    서울청
24   서울양천경찰서    서울청
25  서울영등포경찰서    서울청
26   서울용산경찰서    서울청
27   서울은평경찰서    서울청
28   서울종로경찰서    서울청
29   서울종암경찰서    서울청
30   서울중랑경찰서    서울청
31   서울중부경찰서    서울청
32   서울혜화경찰서    서울청
33     세종경찰서    충남청
34   수원남부경찰서  경기남부청
35   수원서부경찰서  경기남부청
36   수원중부경찰서  경기남부청
37     진주경찰서    경남청
38     진해경찰서    경남청
39   창원서부경찰서    경남청
40   창원중부경찰서    경남청

수서경찰서 + 강남경찰서 - 강남구
남대문경찰서, 혜화경찰서, 서부경찰서, 종암경찰서,

In [109]:
pol['지역'] = ''

In [110]:
pol.set_index('NAME', inplace=True)

In [111]:
pol.loc[ '서울중부경찰서', '지역' ] = '중구'
pol.loc[ '서울종로경찰서', '지역' ] = '종로구'
pol.loc[ '서울남대문경찰서', '지역' ] = '중구'
pol.loc[ '서울서대문경찰서', '지역' ] = '서대문구'
pol.loc[ '서울혜화경찰서', '지역' ] = '종로구'
pol.loc[ '서울용산경찰서', '지역' ] = '용산구'
pol.loc[ '서울성북경찰서', '지역' ] = '성북구'
pol.loc[ '서울동대문경찰서', '지역' ] = '동대문구'
pol.loc[ '서울마포경찰서', '지역' ] = '마포구'
pol.loc[ '서울영등포경찰서', '지역' ] = '영등포'
pol.loc[ '서울성동경찰서', '지역' ] = '성동구'
pol.loc[ '서울동작경찰서', '지역' ] = '동작구'
pol.loc[ '서울광진경찰서', '지역' ] = '광진구'
pol.loc[ '서울서부경찰서', '지역' ] = '은평구'
pol.loc[ '서울강북경찰서', '지역' ] = '강북구'
pol.loc[ '서울금천경찰서', '지역' ] = '금천구' # 조원동은 관악구에서 너무 작은 파트이므로 제외시켜준다 
pol.loc[ '서울중랑경찰서', '지역' ] = '중랑구'
pol.loc[ '서울강남경찰서', '지역' ] = '강남구'
pol.loc[ '서울관악경찰서', '지역' ] = '관악구'
pol.loc[ '서울강서경찰서', '지역' ] = '강서구'
pol.loc[ '서울강동경찰서', '지역' ] = '강동구'
pol.loc[ '서울종암경찰서', '지역' ] = '성북구'
pol.loc[ '서울구로경찰서', '지역' ] = '구로구'
pol.loc[ '서울서초경찰서', '지역' ] = '서초구'
pol.loc[ '서울양천경찰서', '지역' ] = '양천구'
pol.loc[ '서울송파경찰서', '지역' ] = '송파구'
pol.loc[ '서울노원경찰서', '지역' ] = '노원구'
pol.loc[ '서울방배경찰서', '지역' ] = '서초구'
pol.loc[ '서울종로경찰서', '지역' ] = '종로구'
pol.loc[ '서울은평경찰서', '지역' ] = '은평구'
pol.loc[ '서울도봉경찰서', '지역' ] = '도봉구'
pol.loc[ '서울수서경찰서', '지역' ] = '강남구'

pol.loc[ '마산동부경찰서', '지역' ] = '창원시 마산회원구' #산호동은 마산합포구 중 너무 작아서 제외 
pol.loc[ '마산중부경찰서', '지역' ] = '창원시 마산합포구'

pol.loc[ '창원서부경찰서', '지역' ] = '창원시 의창구'
pol.loc[ '창원중부경찰서', '지역' ] = '창원시 성산구, 창원시 의창구'

pol.loc[ '진주경찰서', '지역' ] = '진주시'
pol.loc[ '진해경찰서', '지역' ] = '창원시 진해구'

pol.loc[ '수원남부경찰서', '지역' ] = '수원시 영통구, 수원시 권선구'
pol.loc[ '수원서부경찰서', '지역' ] = '수원시 팔달구, 수원시 권선구'
pol.loc[ '수원중부경찰서', '지역' ] = '수원시 장안구, 수원시 팔달구'

pol.loc[ '세종경찰서', '지역' ] = '세종특별자치시'

In [112]:
pol

          PNAME                지역
NAME
마산동부경찰서     경남청         창원시 마산회원구
마산중부경찰서     경남청         창원시 마산합포구
서울강남경찰서     서울청               강남구
서울강동경찰서     서울청               강동구
서울강북경찰서     서울청               강북구
서울강서경찰서     서울청               강서구
서울관악경찰서     서울청               관악구
서울광진경찰서     서울청               광진구
서울구로경찰서     서울청               구로구
서울금천경찰서     서울청               금천구
서울남대문경찰서    서울청                중구
서울노원경찰서     서울청               노원구
서울도봉경찰서     서울청               도봉구
서울동대문경찰서    서울청              동대문구
서울동작경찰서     서울청               동작구
서울마포경찰서     서울청               마포구
서울방배경찰서     서울청               서초구
서울서대문경찰서    서울청              서대문구
서울서부경찰서     서울청               은평구
서울서초경찰서     서울청               서초구
서울성동경찰서     서울청               성동구
서울성북경찰서     서울청               성북구
서울송파경찰서     서울청               송파구
서울수서경찰서     서울청               강남구
서울양천경찰서     서울청               양천구
서울영등포경찰서    서울청               영등포
서울용산경찰서     서울청               용산구
서울은평경찰서     서울청               은평구
서울종로경찰서     서울청               종로구
서울종암경찰서     서울청               성북구
서울중랑경찰서     서울청               중랑구
서울중부경찰서     서울청                중구
서울혜화경찰서     서울청               종로구
세종경찰서       충남청           세종특별자치시
수원남부경찰서   경기남부청  수원시 영통구, 수원시 권선구
수원서부경찰서   경기남부청  수원시 팔달구, 수원시 권선구
수원중부경찰서   경기남부청  수원시 장안구, 수원시 팔달구
진주경찰서       경남청               진주시
진해경찰서       경남청           창원시 진해구
창원서부경찰서     경남청           창원시 의창구
창원중부경찰서     경남청  창원시 성산구, 창원시 의창구

# 지역별 -> 경찰서별

## 14

In [113]:
halves14 = halves_save.copy() 
halves14

     sgg_nm   year  popu_female_num  popu_male_num  popu_num
0       강남구  2017상           272427         250087    522514
1       강남구  2017하           268329         246833    515162
2       강남구  2018상           264231         243579    507810
3       강남구  2018하           264513         243991    508504
4       강남구  2019상           264796         244403    509199
..      ...    ...              ...            ...       ...
247  창원시진해구  2018상            92616          97660    190276
248  창원시진해구  2018하            92707          97873    190580
249  창원시진해구  2019상            92798          98087    190885
250  창원시진해구  2019하            93408          98411    191820
251  창원시진해구  2020상            94019          98736    192755

[252 rows x 5 columns]

In [114]:
# 각 경찰서가 한 구를 담당하는 겨웅 
# halves14.sgg_nm.str.replace('구$', '경찰서' )
halves14.sgg_nm = halves14.sgg_nm.str.replace('강동구', '서울강동경찰서')

halves14.sgg_nm = halves14.sgg_nm.str.replace('강북구', '서울강북경찰서')
halves14.sgg_nm = halves14.sgg_nm.str.replace('강서구', '서울강서경찰서')
halves14.sgg_nm = halves14.sgg_nm.str.replace('관악구', '서울관악경찰서')
halves14.sgg_nm = halves14.sgg_nm.str.replace('광진구', '서울광진경찰서')
halves14.sgg_nm = halves14.sgg_nm.str.replace('구로구', '서울구로경찰서')
halves14.sgg_nm = halves14.sgg_nm.str.replace('금천구', '서울금천경찰서')
halves14.sgg_nm = halves14.sgg_nm.str.replace('노원구', '서울노원경찰서')
halves14.sgg_nm = halves14.sgg_nm.str.replace('도봉구', '서울도봉경찰서')
halves14.sgg_nm = halves14.sgg_nm.str.replace('동대문구', '서울동대문경찰서')
halves14.sgg_nm = halves14.sgg_nm.str.replace('동작구', '서울동작경찰서')
halves14.sgg_nm = halves14.sgg_nm.str.replace('마포구', '서울마포경찰서')
halves14.sgg_nm = halves14.sgg_nm.str.replace('서대문구', '서울서대문경찰서')

halves14.sgg_nm = halves14.sgg_nm.str.replace('성동구', '서울성동경찰서')

halves14.sgg_nm = halves14.sgg_nm.str.replace('세종시', '세종경찰서')
halves14.sgg_nm = halves14.sgg_nm.str.replace('송파구', '서울송파경찰서')

halves14.sgg_nm = halves14.sgg_nm.str.replace('양천구', '서울양천경찰서')
halves14.sgg_nm = halves14.sgg_nm.str.replace('영등포구', '서울영등포경찰서')
halves14.sgg_nm = halves14.sgg_nm.str.replace('용산구', '서울용산경찰서')

halves14.sgg_nm = halves14.sgg_nm.str.replace('중랑구', '서울중랑경찰서')
halves14.sgg_nm = halves14.sgg_nm.str.replace('진주시', '진주경찰서')

halves14.sgg_nm = halves14.sgg_nm.str.replace('창원시마산합포구', '마산중부경찰서')
halves14.sgg_nm = halves14.sgg_nm.str.replace('창원시마산회원구', '마산동부경찰서')

halves14.sgg_nm = halves14.sgg_nm.str.replace('창원시진해구', '진해경찰서')

In [115]:
# 한 지역이 여러 관할에 나눠져있는 경우 

add14 = halves14[ ( halves14.sgg_nm == '창원시성산구') |
         ( halves14.sgg_nm == '창원시의창구') |
        ( halves14.sgg_nm == '강남구') | 
        ( halves14.sgg_nm == '서초구') | 
        ( halves14.sgg_nm == '성북구') | 
         ( halves14.sgg_nm == '은평구') | 
         ( halves14.sgg_nm == '종로구') | 
          ( halves14.sgg_nm == '중구') | 
          ( halves14.sgg_nm == '수원시권선구') | 
               ( halves14.sgg_nm == '수원시팔달구') | 
               ( halves14.sgg_nm == '수원시영통구') | 
          ( halves14.sgg_nm == '수원시장안구') 
        ]
add14.reset_index(drop=True, inplace=True)
add14

    sgg_nm   year  popu_female_num  popu_male_num  popu_num
0      강남구  2017상           272427         250087    522514
1      강남구  2017하           268329         246833    515162
2      강남구  2018상           264231         243579    507810
3      강남구  2018하           264513         243991    508504
4      강남구  2019상           264796         244403    509199
..     ...    ...              ...            ...       ...
79  창원시의창구  2018상           123249         128682    251931
80  창원시의창구  2018하           124294         129672    253966
81  창원시의창구  2019상           125339         130662    256001
82  창원시의창구  2019하           127101         132103    259204
83  창원시의창구  2020상           128864         133544    262408

[84 rows x 5 columns]

In [116]:
# 서울 지역 + 창원시의창구만 셀렉트 
ex14 = add14[(add14.sgg_nm.apply(lambda x: len(x) <= 3) ) |(add14.sgg_nm=='창원시의창구')]
ex14

    sgg_nm   year  popu_female_num  popu_male_num  popu_num
0      강남구  2017상           272427         250087    522514
1      강남구  2017하           268329         246833    515162
2      강남구  2018상           264231         243579    507810
3      강남구  2018하           264513         243991    508504
4      강남구  2019상           264796         244403    509199
5      강남구  2019하           273014         251201    524215
6      강남구  2020상           281232         257999    539231
7      서초구  2017상           216309         198241    414550
8      서초구  2017하           214868         197152    412020
9      서초구  2018상           213427         196064    409491
10     서초구  2018하           212096         195129    407225
11     서초구  2019상           210765         194195    404960
12     서초구  2019하           216266         198777    415043
13     서초구  2020상           221767         203359    425126
14     성북구  2017상           230349         215068    445417
15     성북구  2017하           228939         213136    442075
16     성북구  2018상           227530         211204    438734
17     성북구  2018하           229512         212518    442030
18     성북구  2019상           231495         213832    445327
19     성북구  2019하           228919         212321    441240
20     성북구  2020상           226343         210810    437153
49     은평구  2017상           240430         225813    466243
50     은평구  2017하           239765         224632    464397
51     은평구  2018상           239100         223452    462552
52     은평구  2018하           239277         222764    462041
53     은평구  2019상           239454         222076    461530
54     은평구  2019하           244505         226177    470682
55     은평구  2020상           249556         230279    479835
56     종로구  2017상            80607          76670    157277
57     종로구  2017하            80713          76908    157622
58     종로구  2018상            80820          77147    157967
59     종로구  2018하            80454          76013    156468
60     종로구  2019상            80089          74880    154969
61     종로구  2019하            78419          73757    152176
62     종로구  2020상            76749          72635    149384
63      중구  2017상            65701          62195    127896
64      중구  2017하            66261          62585    128846
65      중구  2018상            66822          62975    129797
66      중구  2018하            67186          63190    130377
67      중구  2019상            67551          63406    130957
68      중구  2019하            65784          62314    128098
69      중구  2020상            64018          61222    125240
77  창원시의창구  2017상           122379         128181    250560
78  창원시의창구  2017하           122814         128431    251245
79  창원시의창구  2018상           123249         128682    251931
80  창원시의창구  2018하           124294         129672    253966
81  창원시의창구  2019상           125339         130662    256001
82  창원시의창구  2019하           127101         132103    259204
83  창원시의창구  2020상           128864         133544    262408

In [117]:
# 한 지역이 나뉘어서 두 관할에 걸쳐져있는 단순 /2 
ex14['police'] = ex14.sgg_nm.str.replace( '강남구', '서울강남경찰서')
ex14['police'] = ex14.police.str.replace( '서초구', '서울서초경찰서')
ex14['police'] = ex14.police.str.replace( '성북구', '서울종암경찰서')
ex14['police'] = ex14.police.str.replace( '은평구', '서울은평경찰서')
ex14['police'] = ex14.police.str.replace( '종로구', '서울종로경찰서')
ex14['police'] = ex14.police.str.replace( '중구', '서울중부경찰서')

add14['police'] = add14.sgg_nm.str.replace( '강남구', '서울수서경찰서')
add14.police = add14.police.str.replace( '서초구', '서울방배경찰서')
add14.police = add14.police.str.replace( '성북구', '서울성북경찰서')
add14.police = add14.police.str.replace( '은평구', '서울서부경찰서')
add14.police = add14.police.str.replace( '종로구', '서울혜화경찰서')
add14.police = add14.police.str.replace( '중구', '서울남대문경찰서')
add14.police = add14.police.str.replace( '창원시의창구', '창원서부경찰서')

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/app-root/lib/python3.6/site-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [118]:
# 합쳐준다 
a14 = add14.append( ex14, ignore_index=True ) 
a14

     sgg_nm   year  popu_female_num  popu_male_num  popu_num   police
0       강남구  2017상           272427         250087    522514  서울수서경찰서
1       강남구  2017하           268329         246833    515162  서울수서경찰서
2       강남구  2018상           264231         243579    507810  서울수서경찰서
3       강남구  2018하           264513         243991    508504  서울수서경찰서
4       강남구  2019상           264796         244403    509199  서울수서경찰서
..      ...    ...              ...            ...       ...      ...
128  창원시의창구  2018상           123249         128682    251931   창원시의창구
129  창원시의창구  2018하           124294         129672    253966   창원시의창구
130  창원시의창구  2019상           125339         130662    256001   창원시의창구
131  창원시의창구  2019하           127101         132103    259204   창원시의창구
132  창원시의창구  2020상           128864         133544    262408   창원시의창구

[133 rows x 6 columns]

In [119]:
# 관할이 나뉘어진 모든 컬럼을 2로 나눠준다 
aa14 = a14.groupby(['police','sgg_nm', 'year' ]).sum().apply(lambda x: x/2).astype(int)
aa14 
# a14.groupby(['sgg_nm', 'year']).apply(lambda x: x/2).astype(int)

                      popu_female_num  popu_male_num  popu_num
police  sgg_nm year
서울강남경찰서 강남구    2017상           136213         125043    261257
               2017하           134164         123416    257581
               2018상           132115         121789    253905
               2018하           132256         121995    254252
               2019상           132398         122201    254599
...                               ...            ...       ...
창원시의창구  창원시의창구 2018상            61624          64341    125965
               2018하            62147          64836    126983
               2019상            62669          65331    128000
               2019하            63550          66051    129602
               2020상            64432          66772    131204

[133 rows x 3 columns]

In [120]:
# 창원중부경찰서 = '창원시성산구' + '창원시의창구/2 
# 창원시성산구는 다시 x2 
aa14.iloc[ aa14.index.get_level_values('sgg_nm') == '창원시성산구', :] = aa14.iloc[ aa14.index.get_level_values('sgg_nm') == '창원시성산구', :].apply(lambda x: x*2)
aa14.iloc[ aa14.index.get_level_values('sgg_nm') == '창원시성산구', :]
aa14.rename(index={'창원시성산구':'창원중부경찰서'}, inplace=True)

aa14.iloc[ (aa14.index.get_level_values('sgg_nm') == '창원시의창구')] 
aa14.rename(index={'창원시의창구':'창원중부경찰서'}, level=0, inplace=True)

aa14.iloc[(aa14.index.get_level_values('police') == '창원중부경찰서') ]

                       popu_female_num  popu_male_num  popu_num
police  sgg_nm  year
창원중부경찰서 창원중부경찰서 2017상           108486         118238    226726
                2017하           108326         117982    226310
                2018상           108166         117726    225894
                2018하           106814         116106    222922
                2019상           105462         114488    219950
                2019하           105194         112064    217260
                2020상           104928         109642    214570
        창원시의창구  2017상            61189          64090    125280
                2017하            61407          64215    125622
                2018상            61624          64341    125965
                2018하            62147          64836    126983
                2019상            62669          65331    128000
                2019하            63550          66051    129602
                2020상            64432          66772    131204

In [121]:
# 수원시만 복사 
sws = aa14.iloc[(aa14.index.get_level_values('police').str.contains('수원'))] 
sws

                     popu_female_num  popu_male_num  popu_num
police sgg_nm year
수원시권선구 수원시권선구 2017상            90368          91956    182325
              2017하            92218          93902    186121
              2018상            94068          95848    189917
              2018하            93406          95244    188651
              2019상            92744          94641    187385
              2019하            92020          93833    185853
              2020상            91297          93025    184322
수원시영통구 수원시영통구 2017상            86520          88889    175409
              2017하            87248          89454    176702
              2018상            87976          90019    177995
              2018하            89691          91525    181216
              2019상            91406          93032    184438
              2019하            91653          92775    184429
              2020상            91901          92519    184421
수원시장안구 수원시장안구 2017상            72888          74830    147718
              2017하            72121          73917    146038
              2018상            71355          73004    144359
              2018하            70456          72295    142751
              2019상            69557          71587    141144
              2019하            68742          70245    138987
              2020상            67927          68903    136830
수원시팔달구 수원시팔달구 2017상            50876          52169    103046
              2017하            49389          50708    100097
              2018상            47901          49248     97149
              2018하            47220          48617     95837
              2019상            46539          47986     94526
              2019하            44957          46038     90995
              2020상            43375          44090     87465

In [122]:
# aa14.iloc[ aa14.index.get_level_values('sgg_nm') == '수원시영통구', :]

# 수원남부
# aa14.iloc[ aa14.index.get_level_values('sgg_nm')=='수원시권선구']
aa14.rename(index={'수원시권선구':'수원남부경찰서'}, inplace=True)

# 수원중부 
# aa14.iloc[ aa14.index.get_level_values('sgg_nm')=='수원시장안구']
aa14.rename(index={'수원시장안구':'수원중부경찰서'}, inplace=True)

# 수원서부 
# aa14.iloc[ aa14.index.get_level_values('sgg_nm')=='수원시팔달구']
aa14.rename(index={'수원시팔달구':'수원서부경찰서'}, inplace=True)

# 수원을 추가 
aa14 = aa14.append( sws )

# 수원남부 추가 
aa14.rename(index={'수원시영통구':'수원남부경찰서'}, inplace=True)

# 수원중부 추가 
aa14.rename(index={'수원시장안구':'수원중부경찰서'}, inplace=True)
aa14.rename(index={'수원시팔달구':'수원중부경찰서'}, inplace=True)

# 수원서부 추가 
aa14.rename(index={'수원시권선구':'수원서부경찰서'}, inplace=True)

aa14.iloc[ aa14.index.get_level_values('sgg_nm').str.contains('수원')]

                       popu_female_num  popu_male_num  popu_num
police  sgg_nm  year
수원남부경찰서 수원남부경찰서 2017상            90368          91956    182325
                2017하            92218          93902    186121
                2018상            94068          95848    189917
                2018하            93406          95244    188651
                2019상            92744          94641    187385
                2019하            92020          93833    185853
                2020상            91297          93025    184322
                2017상            86520          88889    175409
                2017하            87248          89454    176702
                2018상            87976          90019    177995
                2018하            89691          91525    181216
                2019상            91406          93032    184438
                2019하            91653          92775    184429
                2020상            91901          92519    184421
수원중부경찰서 수원중부경찰서 2017상            72888          74830    147718
                2017하            72121          73917    146038
                2018상            71355          73004    144359
                2018하            70456          72295    142751
                2019상            69557          71587    141144
                2019하            68742          70245    138987
                2020상            67927          68903    136830
수원서부경찰서 수원서부경찰서 2017상            50876          52169    103046
                2017하            49389          50708    100097
                2018상            47901          49248     97149
                2018하            47220          48617     95837
                2019상            46539          47986     94526
                2019하            44957          46038     90995
                2020상            43375          44090     87465
                2017상            90368          91956    182325
                2017하            92218          93902    186121
                2018상            94068          95848    189917
                2018하            93406          95244    188651
                2019상            92744          94641    187385
                2019하            92020          93833    185853
                2020상            91297          93025    184322
수원남부경찰서 수원남부경찰서 2017상            86520          88889    175409
                2017하            87248          89454    176702
                2018상            87976          90019    177995
                2018하            89691          91525    181216
                2019상            91406          93032    184438
                2019하            91653          92775    184429
                2020상            91901          92519    184421
수원중부경찰서 수원중부경찰서 2017상            72888          74830    147718
                2017하            72121          73917    146038
                2018상            71355          73004    144359
                2018하            70456          72295    142751
                2019상            69557          71587    141144
                2019하            68742          70245    138987
                2020상            67927          68903    136830
                2017상            50876          52169    103046
                2017하            49389          50708    100097
                2018상            47901          49248     97149
                2018하            47220          48617     95837
                2019상            46539          47986     94526
                2019하            44957          46038     90995
                2020상            43375          44090     87465

In [123]:
# 구<를 뺴주고 지역명만 남긴다 
halves14['police'] = halves14.sgg_nm.replace( r'^\D+구$', np.nan , regex=True)
halves14

    sgg_nm   year  popu_female_num  popu_male_num  popu_num police
0      강남구  2017상           272427         250087    522514    NaN
1      강남구  2017하           268329         246833    515162    NaN
2      강남구  2018상           264231         243579    507810    NaN
3      강남구  2018하           264513         243991    508504    NaN
4      강남구  2019상           264796         244403    509199    NaN
..     ...    ...              ...            ...       ...    ...
247  진해경찰서  2018상            92616          97660    190276  진해경찰서
248  진해경찰서  2018하            92707          97873    190580  진해경찰서
249  진해경찰서  2019상            92798          98087    190885  진해경찰서
250  진해경찰서  2019하            93408          98411    191820  진해경찰서
251  진해경찰서  2020상            94019          98736    192755  진해경찰서

[252 rows x 6 columns]

In [124]:
aa14 = aa14.reset_index(drop=False)
aa14

      police   sgg_nm   year  popu_female_num  popu_male_num  popu_num
0    서울강남경찰서      강남구  2017상           136213         125043    261257
1    서울강남경찰서      강남구  2017하           134164         123416    257581
2    서울강남경찰서      강남구  2018상           132115         121789    253905
3    서울강남경찰서      강남구  2018하           132256         121995    254252
4    서울강남경찰서      강남구  2019상           132398         122201    254599
..       ...      ...    ...              ...            ...       ...
156  수원중부경찰서  수원중부경찰서  2018상            47901          49248     97149
157  수원중부경찰서  수원중부경찰서  2018하            47220          48617     95837
158  수원중부경찰서  수원중부경찰서  2019상            46539          47986     94526
159  수원중부경찰서  수원중부경찰서  2019하            44957          46038     90995
160  수원중부경찰서  수원중부경찰서  2020상            43375          44090     87465

[161 rows x 6 columns]

In [125]:
# 합쳐준다 
save14 = pd.concat( [halves14, aa14], join='inner' )
save14 = save14[ save14.police.isnull()==False]
save14 = save14.groupby(['police', 'year']).sum().reset_index(drop=False)
save14

      police   year  popu_female_num  popu_male_num  popu_num
0    마산동부경찰서  2017상           100954         101910    202864
1    마산동부경찰서  2017하            99710         100563    200273
2    마산동부경찰서  2018상            98466          99217    197683
3    마산동부경찰서  2018하            97280          97784    195064
4    마산동부경찰서  2019상            96095          96351    192446
..       ...    ...              ...            ...       ...
282  창원중부경찰서  2018상           169790         182067    351859
283  창원중부경찰서  2018하           168961         180942    349905
284  창원중부경찰서  2019상           168131         179819    347950
285  창원중부경찰서  2019하           168744         178115    346862
286  창원중부경찰서  2020상           169360         176414    345774

[287 rows x 5 columns]

In [126]:
# 저장 
# save14.to_csv('전처리14_인구분포_경찰서별.csv', header=True, index=False, encoding='utf-8-sig')

## 15 
- 같은 과정을 반복

In [127]:
halves15 = dd15.copy() 
halves15

,sgg_nm,year,1인가구_10대_계,1인가구_20대_계,1인가구_30대_계,1인가구_40대_계,1인가구_50대_계,1인가구_60대이상_계,1인가구합계_계,1인가구_10대_남자,...,1인가구_50대_남자,1인가구_60대이상_남자,1인가구합계_남자,1인가구_10대_여자,1인가구_20대_여자,1인가구_30대_여자,1인가구_40대_여자,1인가구_50대_여자,1인가구_60대이상_여자,1인가구합계_여자
0,강남구,2017상,539,12969,20358,10734,6579,11595,62774,260,...,3179,3203,26515,279,8002,10941,5245,3400,8392,36259
1,강남구,2017하,480,13066,20265,10662,6496,11780,62750,219,...,3191,3264,26616,261,8005,10865,5181,3305,8515,36134
2,강남구,2018상,421,13164,20173,10591,6413,11965,62727,178,...,3203,3326,26718,243,8009,10790,5118,3210,8639,36009
3,강남구,2018하,514,13572,20516,10825,6551,12420,64400,227,...,3279,3503,27452,287,8238,10943,5289,3272,8917,36947
4,강남구,2019상,607,13981,20860,11059,6690,12876,66073,276,...,3355,3681,28187,331,8467,11097,5461,3335,9195,37886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,창원시진해구,2018상,43,2092,3903,3516,3634,6776,19964,23,...,2057,2182,11107,20,653,996,1017,1577,4594,8857
248,창원시진해구,2018하,44,2273,3882,3586,3668,7008,20463,21,...,2091,2246,11369,23,722,993,1015,1577,4762,9094
249,창원시진해구,2019상,46,2454,3862,3656,3703,7241,20962,20,...,2125,2310,11631,26,792,990,1014,1578,4931,9331
250,창원시진해구,2019하,52,2475,3859,3778,3822,7605,21592,27,...,2213,2489,11988,25,820,999,1035,1608,5116,9604
251,창원시진해구,2020상,58,2496,3857,3901,3941,7970,22223,34,...,2302,2668,12345,24,849,1008,1056,1639,5302,9878

In [128]:
# halves15.sgg_nm.str.replace('구$', '경찰서' )
halves15.sgg_nm = halves15.sgg_nm.str.replace('강동구', '서울강동경찰서')

halves15.sgg_nm = halves15.sgg_nm.str.replace('강북구', '서울강북경찰서')
halves15.sgg_nm = halves15.sgg_nm.str.replace('강서구', '서울강서경찰서')
halves15.sgg_nm = halves15.sgg_nm.str.replace('관악구', '서울관악경찰서')
halves15.sgg_nm = halves15.sgg_nm.str.replace('광진구', '서울광진경찰서')
halves15.sgg_nm = halves15.sgg_nm.str.replace('구로구', '서울구로경찰서')
halves15.sgg_nm = halves15.sgg_nm.str.replace('금천구', '서울금천경찰서')
halves15.sgg_nm = halves15.sgg_nm.str.replace('노원구', '서울노원경찰서')
halves15.sgg_nm = halves15.sgg_nm.str.replace('도봉구', '서울도봉경찰서')
halves15.sgg_nm = halves15.sgg_nm.str.replace('동대문구', '서울동대문경찰서')
halves15.sgg_nm = halves15.sgg_nm.str.replace('동작구', '서울동작경찰서')
halves15.sgg_nm = halves15.sgg_nm.str.replace('마포구', '서울마포경찰서')
halves15.sgg_nm = halves15.sgg_nm.str.replace('서대문구', '서울서대문경찰서')

halves15.sgg_nm = halves15.sgg_nm.str.replace('성동구', '서울성동경찰서')

halves15.sgg_nm = halves15.sgg_nm.str.replace('세종시', '세종경찰서')
halves15.sgg_nm = halves15.sgg_nm.str.replace('송파구', '서울송파경찰서')

halves15.sgg_nm = halves15.sgg_nm.str.replace('양천구', '서울양천경찰서')
halves15.sgg_nm = halves15.sgg_nm.str.replace('영등포구', '서울영등포경찰서')
halves15.sgg_nm = halves15.sgg_nm.str.replace('용산구', '서울용산경찰서')

halves15.sgg_nm = halves15.sgg_nm.str.replace('중랑구', '서울중랑경찰서')
halves15.sgg_nm = halves15.sgg_nm.str.replace('진주시', '진주경찰서')

halves15.sgg_nm = halves15.sgg_nm.str.replace('창원시마산합포구', '마산중부경찰서')
halves15.sgg_nm = halves15.sgg_nm.str.replace('창원시마산회원구', '마산동부경찰서')

halves15.sgg_nm = halves15.sgg_nm.str.replace('창원시진해구', '진해경찰서')

In [129]:
# 한 지역이 두 관할 
add15 = halves15[ ( halves15.sgg_nm == '창원시성산구') |
         ( halves15.sgg_nm == '창원시의창구') |
        ( halves15.sgg_nm == '강남구') | 
        ( halves15.sgg_nm == '서초구') | 
        ( halves15.sgg_nm == '성북구') | 
         ( halves15.sgg_nm == '은평구') | 
         ( halves15.sgg_nm == '종로구') | 
          ( halves15.sgg_nm == '중구') | 
          ( halves15.sgg_nm == '수원시권선구') | 
               ( halves15.sgg_nm == '수원시팔달구') | 
               ( halves15.sgg_nm == '수원시영통구') | 
          ( halves15.sgg_nm == '수원시장안구') 
        ]
add15.reset_index(drop=True, inplace=True)
add15

,sgg_nm,year,1인가구_10대_계,1인가구_20대_계,1인가구_30대_계,1인가구_40대_계,1인가구_50대_계,1인가구_60대이상_계,1인가구합계_계,1인가구_10대_남자,...,1인가구_50대_남자,1인가구_60대이상_남자,1인가구합계_남자,1인가구_10대_여자,1인가구_20대_여자,1인가구_30대_여자,1인가구_40대_여자,1인가구_50대_여자,1인가구_60대이상_여자,1인가구합계_여자
0,강남구,2017상,539,12969,20358,10734,6579,11595,62774,260,...,3179,3203,26515,279,8002,10941,5245,3400,8392,36259
1,강남구,2017하,480,13066,20265,10662,6496,11780,62750,219,...,3191,3264,26616,261,8005,10865,5181,3305,8515,36134
2,강남구,2018상,421,13164,20173,10591,6413,11965,62727,178,...,3203,3326,26718,243,8009,10790,5118,3210,8639,36009
3,강남구,2018하,514,13572,20516,10825,6551,12420,64400,227,...,3279,3503,27452,287,8238,10943,5289,3272,8917,36947
4,강남구,2019상,607,13981,20860,11059,6690,12876,66073,276,...,3355,3681,28187,331,8467,11097,5461,3335,9195,37886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,창원시의창구,2018상,107,3186,4827,5079,5742,7996,26937,56,...,3115,2777,14470,51,1266,1512,1792,2627,5219,12467
80,창원시의창구,2018하,106,3447,4824,5048,5835,8275,27536,55,...,3159,2879,14794,50,1342,1497,1779,2676,5396,12741
81,창원시의창구,2019상,105,3708,4821,5017,5929,8555,28135,55,...,3204,2981,15119,50,1418,1482,1767,2725,5574,13016
82,창원시의창구,2019하,121,4078,4987,5095,6058,9036,29377,62,...,3325,3186,15788,59,1625,1525,1794,2733,5850,13589
83,창원시의창구,2020상,138,4449,5153,5173,6188,9518,30619,69,...,3446,3391,16457,69,1833,1569,1822,2742,6127,14162

In [130]:
# 서울 지역 + 창원시의창구만 셀렉트 
ex15 = add15[(add15.sgg_nm.apply(lambda x: len(x) <= 3) ) |(add15.sgg_nm=='창원시의창구')]
ex15

,sgg_nm,year,1인가구_10대_계,1인가구_20대_계,1인가구_30대_계,1인가구_40대_계,1인가구_50대_계,1인가구_60대이상_계,1인가구합계_계,1인가구_10대_남자,...,1인가구_50대_남자,1인가구_60대이상_남자,1인가구합계_남자,1인가구_10대_여자,1인가구_20대_여자,1인가구_30대_여자,1인가구_40대_여자,1인가구_50대_여자,1인가구_60대이상_여자,1인가구합계_여자
0,강남구,2017상,539,12969,20358,10734,6579,11595,62774,260,...,3179,3203,26515,279,8002,10941,5245,3400,8392,36259
1,강남구,2017하,480,13066,20265,10662,6496,11780,62750,219,...,3191,3264,26616,261,8005,10865,5181,3305,8515,36134
2,강남구,2018상,421,13164,20173,10591,6413,11965,62727,178,...,3203,3326,26718,243,8009,10790,5118,3210,8639,36009
3,강남구,2018하,514,13572,20516,10825,6551,12420,64400,227,...,3279,3503,27452,287,8238,10943,5289,3272,8917,36947
4,강남구,2019상,607,13981,20860,11059,6690,12876,66073,276,...,3355,3681,28187,331,8467,11097,5461,3335,9195,37886
5,강남구,2019하,552,14396,21163,11306,6771,13346,67536,261,...,3433,3851,28816,291,8771,11191,5632,3337,9495,38719
6,강남구,2020상,498,14811,21467,11554,6852,13817,68999,246,...,3512,4021,29446,252,9075,11286,5804,3340,9796,39553
7,서초구,2017상,537,8351,11380,7083,4610,7741,39702,202,...,2265,2174,17483,335,4996,5618,3358,2345,5567,22219
8,서초구,2017하,520,8488,11590,7137,4693,7990,40419,206,...,2295,2265,17782,314,5058,5749,3392,2398,5725,22637
9,서초구,2018상,504,8625,11800,7192,4776,8240,41137,210,...,2325,2357,18082,294,5120,5880,3427,2451,5883,23055
10,서초구,2018하,512,8811,12039,7201,4852,8484,41902,218,...,2392,2430,18437,294,5213,5972,3470,2460,6054,23465
11,서초구,2019상,521,8998,12279,7211,4929,8729,42667,227,...,2459,2503,18792,294,5307,6064,3514,2470,6226,23875
12,서초구,2019하,560,9221,12416,7145,4931,9030,43304,217,...,2475,2606,18967,343,5490,6113,3511,2456,6424,24337
13,서초구,2020상,600,9444,12553,7080,4934,9331,43942,208,...,2491,2709,19142,392,5673,6162,3508,2443,6622,24800
14,성북구,2017상,1514,18145,8636,6570,6285,13093,54243,537,...,3378,3827,24560,977,10003,3731,2799,2907,9266,29683
15,성북구,2017하,1565,18383,8588,6440,6268,13444,54689,523,...,3416,3972,24668,1041,10171,3714,2770,2852,9471,30021
16,성북구,2018상,1616,18622,8540,6311,6252,13795,55136,510,...,3455,4118,24777,1106,10339,3698,2742,2797,9677,30359
17,성북구,2018하,1485,19310,8755,6381,6387,14164,56484,478,...,3537,4248,25454,1007,10725,3763,2768,2850,9916,31030
18,성북구,2019상,1355,19999,8971,6451,6522,14534,57832,447,...,3619,4379,26131,908,11112,3828,2795,2903,10155,31701
19,성북구,2019하,1643,20483,9302,6514,6618,15110,59671,543,...,3694,4560,26680,1099,11579,3995,2843,2923,10550,32991
20,성북구,2020상,1931,20967,9634,6577,6714,15687,61510,640,...,3770,4742,27229,1291,12046,4163,2892,2944,10945,34281
49,은평구,2017상,198,6774,9558,7641,7437,14927,46535,90,...,3744,4403,20727,108,3783,4275,3425,3693,10524,25808
50,은평구,2017하,216,7122,9767,7679,7454,15472,47711,89,...,3772,4636,21210,127,4033,4364,3459,3681,10836,26501
51,은평구,2018상,235,7470,9976,7718,7471,16018,48888,89,...,3801,4870,21694,146,4284,4453,3493,3670,11148,27194
52,은평구,2018하,243,8309,10292,7790,7592,16623,50851,101,...,3900,5062,22451,141,4812,4667,3525,3692,11561,28399
53,은평구,2019상,251,9149,10609,7863,7714,17228,52814,114,...,3999,5254,23209,137,5340,4881,3558,3715,11974,29605
54,은평구,2019하,243,9911,11140,8069,7841,18127,55333,99,...,4083,5587,24215,143,5888,5134,3654,3758,12540,31118
55,은평구,2020상,235,10674,11672,8276,7969,19027,57853,85,...,4168,5921,25221,150,6436,5388,3751,3801,13106,32632
56,종로구,2017상,507,6619,4348,3241,3200,5723,23638,191,...,1878,2158,11594,316,3399,2007,1435,1322,3565,12044
57,종로구,2017하,652,7183,4407,3214,3230,5793,24482,247,...,1879,2215,12114,405,3563,2028,1440,1351,3578,12367
58,종로구,2018상,798,7748,4467,3188,3261,5864,25326,304,...,1880,2272,12635,494,3728,2050,1446,1381,3592,12691
59,종로구,2018하,652,7465,4493,3148,3250,5989,24998,231,...,1876,2336,12288,421,3748,2072,1442,1373,3652,12710
60,종로구,2019상,507,7183,4519,3109,3239,6114,24671,158,...,1873,2401,11942,349,3769,2094,1438,1366,3713,12729
61,종로구,2019하,452,7312,4711,3184,3297,6369,25327,146,...,1942,2508,12302,306,3886,2145,1470,1355,3860,13024
62,종로구,2020상,398,7442,4904,3259,3356,6624,25983,134,...,2011,2616,12663,264,4004,2197,1502,1345,4008,13320
63,중구,2017상,499,4766,3855,3032,2877,5135,20164,149,...,1672,1864,9826,350,2552,1704,1256,1205,3271,10338
64,중구,2017하,542,4856,3971,2985,2873,5256,20483,164,...,1669,1934,9939,377,2631,1766,1244,1203,3322,10544
65,중구,2018상,585,4946,4087,2938,2869,5378,20803,180,...,1667,2005,10052,405,2711,1828,1232,1202,3373,10751
66,중구,2018하,537,5125,4284,2977,2935,5582,21440,172,...,1722,2103,10364,365,2818,1930,1271,1213,3478,11076
67,중구,2019상,489,5305,4481,3016,3001,5786,22078,164,...,1777,2202,10677,325,2926,2032,1310,1224,3584,11401
68,중구,2019하,462,5393,4577,3004,3040,5970,22448,152,...,1802,2311,10849,310,3010,2086,1295,1238,3659,11599
69,중구,2020상,435,5482,4673,2993,3080,6155,22818,140,...,1828,2420,11021,295,3095,2140,1280,1252,3735,11797
77,창원시의창구,2017상,126,3187,4996,5254,5484,7438,26485,62,...,2923,2555,14255,64,1253,1602,1867,2561,4883,12230
78,창원시의창구,2017하,116,3186,4911,5166,5613,7717,26711,59,...,3019,2666,14362,57,1259,1557,1829,2594,5051,12348
79,창원시의창구,2018상,107,3186,4827,5079,5742,7996,26937,56,...,3115,2777,14470,51,1266,1512,1792,2627,5219,12467
80,창원시의창구,2018하,106,3447,4824,5048,5835,8275,27536,55,...,3159,2879,14794,50,1342,1497,1779,2676,5396,12741
81,창원시의창구,2019상,105,3708,4821,5017,5929,8555,28135,55,...,3204,2981,15119,50,1418,1482,1767,2725,5574,13016
82,창원시의창구,2019하,121,4078,4987,5095,6058,9036,29377,62,...,3325,3186,15788,59,1625,1525,1794,2733,5850,13589
83,창원시의창구,2020상,138,4449,5153,5173,6188,9518,30619,69,...,3446,3391,16457,69,1833,1569,1822,2742,6127,14162

In [131]:
# 지역명을 경찰서로 바꿔주기 
ex15['police'] = ex15.sgg_nm.str.replace( '강남구', '서울강남경찰서')
ex15['police'] = ex15.police.str.replace( '서초구', '서울서초경찰서')
ex15['police'] = ex15.police.str.replace( '성북구', '서울종암경찰서')
ex15['police'] = ex15.police.str.replace( '은평구', '서울은평경찰서')
ex15['police'] = ex15.police.str.replace( '종로구', '서울종로경찰서')
ex15['police'] = ex15.police.str.replace( '중구', '서울중부경찰서')

add15['police'] = add15.sgg_nm.str.replace( '강남구', '서울수서경찰서')
add15.police = add15.police.str.replace( '서초구', '서울방배경찰서')
add15.police = add15.police.str.replace( '성북구', '서울성북경찰서')
add15.police = add15.police.str.replace( '은평구', '서울서부경찰서')
add15.police = add15.police.str.replace( '종로구', '서울혜화경찰서')
add15.police = add15.police.str.replace( '중구', '서울남대문경찰서')
add15.police = add15.police.str.replace( '창원시의창구', '창원서부경찰서')

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/app-root/lib/python3.6/site-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [132]:
# 합쳐준다 
a15 = add15.append( ex15, ignore_index=True ) 
a15

,sgg_nm,year,1인가구_10대_계,1인가구_20대_계,1인가구_30대_계,1인가구_40대_계,1인가구_50대_계,1인가구_60대이상_계,1인가구합계_계,1인가구_10대_남자,...,1인가구_60대이상_남자,1인가구합계_남자,1인가구_10대_여자,1인가구_20대_여자,1인가구_30대_여자,1인가구_40대_여자,1인가구_50대_여자,1인가구_60대이상_여자,1인가구합계_여자,police
0,강남구,2017상,539,12969,20358,10734,6579,11595,62774,260,...,3203,26515,279,8002,10941,5245,3400,8392,36259,서울수서경찰서
1,강남구,2017하,480,13066,20265,10662,6496,11780,62750,219,...,3264,26616,261,8005,10865,5181,3305,8515,36134,서울수서경찰서
2,강남구,2018상,421,13164,20173,10591,6413,11965,62727,178,...,3326,26718,243,8009,10790,5118,3210,8639,36009,서울수서경찰서
3,강남구,2018하,514,13572,20516,10825,6551,12420,64400,227,...,3503,27452,287,8238,10943,5289,3272,8917,36947,서울수서경찰서
4,강남구,2019상,607,13981,20860,11059,6690,12876,66073,276,...,3681,28187,331,8467,11097,5461,3335,9195,37886,서울수서경찰서
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,창원시의창구,2018상,107,3186,4827,5079,5742,7996,26937,56,...,2777,14470,51,1266,1512,1792,2627,5219,12467,창원시의창구
129,창원시의창구,2018하,106,3447,4824,5048,5835,8275,27536,55,...,2879,14794,50,1342,1497,1779,2676,5396,12741,창원시의창구
130,창원시의창구,2019상,105,3708,4821,5017,5929,8555,28135,55,...,2981,15119,50,1418,1482,1767,2725,5574,13016,창원시의창구
131,창원시의창구,2019하,121,4078,4987,5095,6058,9036,29377,62,...,3186,15788,59,1625,1525,1794,2733,5850,13589,창원시의창구
132,창원시의창구,2020상,138,4449,5153,5173,6188,9518,30619,69,...,3391,16457,69,1833,1569,1822,2742,6127,14162,창원시의창구

In [133]:
# 모든 컬럼을 2로 나눠준다 
aa15 = a15.groupby(['police','sgg_nm', 'year' ]).sum().apply(lambda x: x/2).astype(int)
aa15 
# a15.groupby(['sgg_nm', 'year']).apply(lambda x: x/2).astype(int)

                      1인가구_10대_계  1인가구_20대_계  1인가구_30대_계  1인가구_40대_계  \
police  sgg_nm year
서울강남경찰서 강남구    2017상         269        6484       10179        5367
               2017하         240        6533       10132        5331
               2018상         210        6582       10086        5295
               2018하         257        6786       10258        5412
               2019상         303        6990       10430        5529
...                          ...         ...         ...         ...
창원시의창구  창원시의창구 2018상          53        1593        2413        2539
               2018하          53        1723        2412        2524
               2019상          52        1854        2410        2508
               2019하          60        2039        2493        2547
               2020상          69        2224        2576        2586

                      1인가구_50대_계  1인가구_60대이상_계  1인가구합계_계  1인가구_10대_남자  \
police  sgg_nm year
서울강남경찰서 강남구    2017상        3289          5797     31387          130
               2017하        3248          5890     31375          109
               2018상        3206          5982     31363           89
               2018하        3275          6210     32200          113
               2019상        3345          6438     33036          138
...                          ...           ...       ...          ...
창원시의창구  창원시의창구 2018상        2871          3998     13468           28
               2018하        2917          4137     13768           27
               2019상        2964          4277     14067           27
               2019하        3029          4518     14688           31
               2020상        3094          4759     15309           34

                      1인가구_20대_남자  1인가구_30대_남자  ...  1인가구_50대_남자  \
police  sgg_nm year                             ...
서울강남경찰서 강남구    2017상         2483         4708  ...         1589
               2017하         2530         4700  ...         1595
               2018상         2577         4691  ...         1601
               2018하         2667         4786  ...         1639
               2019상         2757         4881  ...         1677
...                           ...          ...  ...          ...
창원시의창구  창원시의창구 2018상          960         1657  ...         1557
               2018하         1052         1663  ...         1579
               2019상         1145         1669  ...         1602
               2019하         1226         1730  ...         1662
               2020상         1308         1792  ...         1723

                      1인가구_60대이상_남자  1인가구합계_남자  1인가구_10대_여자  1인가구_20대_여자  \
police  sgg_nm year
서울강남경찰서 강남구    2017상           1601      13257          139         4001
               2017하           1632      13308          130         4002
               2018상           1663      13359          121         4004
               2018하           1751      13726          143         4119
               2019상           1840      14093          165         4233
...                             ...        ...          ...          ...
창원시의창구  창원시의창구 2018상           1388       7235           25          633
               2018하           1439       7397           25          671
               2019상           1490       7559           25          709
               2019하           1593       7894           29          812
               2020상           1695       8228           34          916

                      1인가구_30대_여자  1인가구_40대_여자  1인가구_50대_여자  1인가구_60대이상_여자  \
police  sgg_nm year
서울강남경찰서 강남구    2017상         5470         2622         1700           4196
               2017하         5432         2590         1652           4257
               2018상         5395         2559         1605           4319
               2018하         5471         2644         1636           4458
               2019상         5548         2730         1667           4597
...                           ...          ...          ...            ...
창원시의창구  창원시의창구 2018상          756          896         1313           2609
               2018하          748          889         1338           2698
               2019상          741          883         1362           2787
               2019하          762          897         1366           2925
               2020상          784          911         1371           3063

                      1인가구합계_여자
police  sgg_nm year
서울강남경찰서 강남구    2017상      18129
               2017하      18067
               2018상      18004
               2018하      18473
               2019상      18943
...                         ...
창원시의창구  창원시의창구 2018상       6233
               2018하       6370
               2019상       6508
               2019하       6794
               2020상       7081

[133 rows x 21 columns]

In [134]:
# 창원중부경찰서 = '창원시성산구' + '창원시의창구/2 
# 창원시성산구는 다시 x2 
aa15.iloc[ aa15.index.get_level_values('sgg_nm') == '창원시성산구', :] = aa15.iloc[ aa15.index.get_level_values('sgg_nm') == '창원시성산구', :].apply(lambda x: x*2)
aa15.iloc[ aa15.index.get_level_values('sgg_nm') == '창원시성산구', :]
aa15.rename(index={'창원시성산구':'창원중부경찰서'}, inplace=True)

aa15.iloc[ (aa15.index.get_level_values('sgg_nm') == '창원시의창구')] 
aa15.rename(index={'창원시의창구':'창원중부경찰서'}, level=0, inplace=True)

aa15.iloc[(aa15.index.get_level_values('police') == '창원중부경찰서') ]

                       1인가구_10대_계  1인가구_20대_계  1인가구_30대_계  1인가구_40대_계  \
police  sgg_nm  year
창원중부경찰서 창원중부경찰서 2017상          52        2986        4628        3862
                2017하          48        3154        4654        3846
                2018상          46        3322        4678        3830
                2018하          52        3428        4614        3836
                2019상          60        3534        4550        3842
                2019하          50        3704        4716        3900
                2020상          42        3874        4884        3958
        창원시의창구  2017상          63        1593        2498        2627
                2017하          58        1593        2455        2583
                2018상          53        1593        2413        2539
                2018하          53        1723        2412        2524
                2019상          52        1854        2410        2508
                2019하          60        2039        2493        2547
                2020상          69        2224        2576        2586

                       1인가구_50대_계  1인가구_60대이상_계  1인가구합계_계  1인가구_10대_남자  \
police  sgg_nm  year
창원중부경찰서 창원중부경찰서 2017상        3346          3634     18510           24
                2017하        3432          3820     18958           22
                2018상        3520          4008     19406           22
                2018하        3610          4216     19760           28
                2019상        3700          4426     20112           34
                2019하        3798          4758     20928           28
                2020상        3896          5090     21744           24
        창원시의창구  2017상        2742          3719     13242           31
                2017하        2806          3858     13355           29
                2018상        2871          3998     13468           28
                2018하        2917          4137     13768           27
                2019상        2964          4277     14067           27
                2019하        3029          4518     14688           31
                2020상        3094          4759     15309           34

                       1인가구_20대_남자  1인가구_30대_남자  ...  1인가구_50대_남자  \
police  sgg_nm  year                             ...
창원중부경찰서 창원중부경찰서 2017상         1782         3128  ...         1714
                2017하         1840         3118  ...         1744
                2018상         1900         3108  ...         1774
                2018하         1934         3046  ...         1822
                2019상         1968         2986  ...         1872
                2019하         2064         3142  ...         1944
                2020상         2162         3298  ...         2016
        창원시의창구  2017상          967         1697  ...         1461
                2017하          963         1677  ...         1509
                2018상          960         1657  ...         1557
                2018하         1052         1663  ...         1579
                2019상         1145         1669  ...         1602
                2019하         1226         1730  ...         1662
                2020상         1308         1792  ...         1723

                       1인가구_60대이상_남자  1인가구합계_남자  1인가구_10대_여자  1인가구_20대_여자  \
police  sgg_nm  year
창원중부경찰서 창원중부경찰서 2017상           1192      10134           28         1202
                2017하           1280      10310           26         1312
                2018상           1370      10488           24         1422
                2018하           1442      10576           24         1492
                2019상           1516      10666           26         1564
                2019하           1630      11144           20         1638
                2020상           1744      11624           16         1712
        창원시의창구  2017상           1277       7127           32          626
                2017하           1333       7181           28          629
                2018상           1388       7235           25          633
                2018하           1439       7397           25          671
                2019상           1490       7559           25          709
                2019하           1593       7894           29          812
                2020상           1695       8228           34          916

                       1인가구_30대_여자  1인가구_40대_여자  1인가구_50대_여자  1인가구_60대이상_여자  \
police  sgg_nm  year
창원중부경찰서 창원중부경찰서 2017상         1500         1570         1632           2442
                2017하         1534         1544         1688           2540
                2018상         1570         1518         1746           2638
                2018하         1568         1536         1786           2772
                2019상         1564         1554         1828           2908
                2019하         1574         1566         1854           3126
                2020상         1586         1578         1880           3346
        창원시의창구  2017상          801          933         1280           2441
                2017하          778          914         1297           2525
                2018상          756          896         1313           2609
                2018하          748          889         1338           2698
                2019상          741          883         1362           2787
                2019하          762          897         1366           2925
                2020상          784          911         1371           3063

                       1인가구합계_여자
police  sgg_nm  year
창원중부경찰서 창원중부경찰서 2017상       8376
                2017하       8646
                2018상       8918
                2018하       9182
                2019상       9446
                2019하       9782
                2020상      10120
        창원시의창구  2017상       6115
                2017하       6174
                2018상       6233
                2018하       6370
                2019상       6508
                2019하       6794
                2020상       7081

[14 rows x 21 columns]

In [135]:
# 수원시만 복사 
sws = aa15.iloc[(aa15.index.get_level_values('police').str.contains('수원'))] 
sws

                     1인가구_10대_계  1인가구_20대_계  1인가구_30대_계  1인가구_40대_계  \
police sgg_nm year
수원시권선구 수원시권선구 2017상          80        2759        4526        3485
              2017하          78        2895        4602        3533
              2018상          76        3031        4678        3580
              2018하          75        3152        4638        3602
              2019상          74        3273        4599        3624
              2019하          76        3428        4655        3665
              2020상          78        3584        4711        3705
수원시영통구 수원시영통구 2017상         137        5965        5035        2539
              2017하         149        6271        5188        2576
              2018상         161        6578        5341        2614
              2018하         167        6815        5569        2735
              2019상         172        7051        5798        2856
              2019하         229        7274        5987        2939
              2020상         286        7497        6176        3021
수원시장안구 수원시장안구 2017상         120        2830        2326        2182
              2017하          97        2615        2264        2144
              2018상          74        2401        2203        2106
              2018하          97        2759        2202        2097
              2019상         119        3118        2201        2088
              2019하         119        3296        2262        2072
              2020상         118        3474        2322        2055
수원시팔달구 수원시팔달구 2017상          58        2511        2833        2313
              2017하          61        2612        2810        2245
              2018상          63        2714        2787        2178
              2018하          62        2886        2808        2159
              2019상          62        3059        2830        2141
              2019하          60        3313        2939        2159
              2020상          58        3568        3048        2178

                     1인가구_50대_계  1인가구_60대이상_계  1인가구합계_계  1인가구_10대_남자  \
police sgg_nm year
수원시권선구 수원시권선구 2017상        3023          3891     17766           21
              2017하        3131          4133     18374           21
              2018상        3240          4375     18982           21
              2018하        3287          4573     19329           22
              2019상        3334          4771     19676           24
              2019하        3383          5009     20217           24
              2020상        3431          5248     20758           24
수원시영통구 수원시영통구 2017상        1625          2157     17459           66
              2017하        1700          2309     18195           67
              2018상        1775          2460     18931           69
              2018하        1837          2665     19790           73
              2019상        1899          2871     20649           77
              2019하        1952          3016     21398           94
              2020상        2004          3161     22147          111
수원시장안구 수원시장안구 2017상        2297          3738     13493           64
              2017하        2348          3895     13364           47
              2018상        2399          4052     13236           31
              2018하        2390          4197     13744           49
              2019상        2382          4342     14252           67
              2019하        2416          4526     14692           59
              2020상        2450          4711     15132           52
수원시팔달구 수원시팔달구 2017상        2457          3613     13786           25
              2017하        2385          3606     13721           26
              2018상        2314          3600     13657           27
              2018하        2287          3673     13878           26
              2019상        2260          3746     14099           25
              2019하        2296          3904     14673           23
              2020상        2332          4062     15248           21

                     1인가구_20대_남자  1인가구_30대_남자  ...  1인가구_50대_남자  \
police sgg_nm year                             ...
수원시권선구 수원시권선구 2017상         1500         2983  ...         1691
              2017하         1588         3058  ...         1755
              2018상         1677         3133  ...         1819
              2018하         1734         3117  ...         1854
              2019상         1791         3101  ...         1888
              2019하         1867         3130  ...         1926
              2020상         1944         3160  ...         1964
수원시영통구 수원시영통구 2017상         3675         3489  ...          833
              2017하         3810         3559  ...          868
              2018상         3946         3628  ...          904
              2018하         4015         3763  ...          932
              2019상         4084         3898  ...          961
              2019하         4124         3996  ...         1001
              2020상         4164         4093  ...         1042
수원시장안구 수원시장안구 2017상         1920         1570  ...         1266
              2017하         1736         1527  ...         1289
              2018상         1551         1484  ...         1312
              2018하         1811         1494  ...         1328
              2019상         2070         1505  ...         1344
              2019하         2167         1544  ...         1361
              2020상         2263         1584  ...         1379
수원시팔달구 수원시팔달구 2017상         1356         1784  ...         1480
              2017하         1410         1768  ...         1438
              2018상         1465         1752  ...         1397
              2018하         1553         1779  ...         1382
              2019상         1641         1805  ...         1367
              2019하         1748         1875  ...         1400
              2020상         1855         1946  ...         1434

                     1인가구_60대이상_남자  1인가구합계_남자  1인가구_10대_여자  1인가구_20대_여자  \
police sgg_nm year
수원시권선구 수원시권선구 2017상           1329       9761           59         1259
              2017하           1418      10113           57         1306
              2018상           1507      10465           55         1354
              2018하           1582      10638           52         1418
              2019상           1658      10810           50         1482
              2019하           1764      11099           52         1561
              2020상           1871      11388           54         1640
수원시영통구 수원시영통구 2017상            592      10216           70         2290
              2017하            636      10513           81         2461
              2018상            680      10810           92         2632
              2018하            741      11192           93         2800
              2019상            802      11575           95         2967
              2019하            849      11854          135         3150
              2020상            895      12133          175         3332
수원시장안구 수원시장안구 2017상           1206       7412           56          909
              2017하           1270       7228           49          879
              2018상           1335       7044           43          849
              2018하           1394       7409           47          948
              2019상           1453       7775           52         1048
              2019하           1537       8004           59         1129
              2020상           1622       8234           66         1210
수원시팔달구 수원시팔달구 2017상           1330       7444           33         1155
              2017하           1346       7417           34         1202
              2018상           1362       7390           36         1249
              2018하           1405       7518           36         1333
              2019상           1449       7646           37         1418
              2019하           1519       7944           37         1565
              2020상           1590       8242           37         1713

                     1인가구_30대_여자  1인가구_40대_여자  1인가구_50대_여자  1인가구_60대이상_여자  \
police sgg_nm year
수원시권선구 수원시권선구 2017상         1543         1250         1331           2562
              2017하         1543         1262         1376           2715
              2018상         1544         1274         1421           2868
              2018하         1521         1275         1433           2990
              2019상         1498         1276         1446           3113
              2019하         1524         1279         1456           3245
              2020상         1550         1281         1467           3376
수원시영통구 수원시영통구 2017상         1546          978          792           1565
              2017하         1629         1004          831           1673
              2018상         1712         1031          871           1780
              2018하         1806         1068          905           1924
              2019상         1900         1105          938           2068
              2019하         1991         1149          950           2167
              2020상         2083         1194          962           2266
수원시장안구 수원시장안구 2017상          756          797         1030           2532
              2017하          737          786         1058           2624
              2018상          719          775         1086           2717
              2018하          707          765         1062           2803
              2019상          696          754         1038           2888
              2019하          717          738         1054           2989
              2020상          738          722         1071           3089
수원시팔달구 수원시팔달구 2017상         1049          844          977           2283
              2017하         1042          818          946           2260
              2018상         1034          793          916           2238
              2018하         1029          788          904           2267
              2019상         1024          783          893           2297
              2019하         1063          783          895           2384
              2020상         1102          783          898           2472

                     1인가구합계_여자
police sgg_nm year
수원시권선구 수원시권선구 2017상       8005
              2017하       8261
              2018상       8516
              2018하       8691
              2019상       8866
              2019하       9118
              2020상       9370
수원시영통구 수원시영통구 2017상       7242
              2017하       7681
              2018상       8120
              2018하       8597
              2019상       9074
              2019하       9544
              2020상      10013
수원시장안구 수원시장안구 2017상       6081
              2017하       6136
              2018상       6191
              2018하       6334
              2019상       6477
              2019하       6687
              2020상       6898
수원시팔달구 수원시팔달구 2017상       6342
              2017하       6304
              2018상       6267
              2018하       6359
              2019상       6452
              2019하       6729
              2020상       7006

[28 rows x 21 columns]

In [136]:
# 수원의 영역 계산 

# 수원남부
# aa15.iloc[ aa15.index.get_level_values('sgg_nm')=='수원시권선구']
aa15.rename(index={'수원시권선구':'수원남부경찰서'}, inplace=True)

# 수원중부 
# aa15.iloc[ aa15.index.get_level_values('sgg_nm')=='수원시장안구']
aa15.rename(index={'수원시장안구':'수원중부경찰서'}, inplace=True)

# 수원서부 
# aa15.iloc[ aa15.index.get_level_values('sgg_nm')=='수원시팔달구']
aa15.rename(index={'수원시팔달구':'수원서부경찰서'}, inplace=True)

# 수원을 추가 
# aa15 = aa15.append( sws )

# 수원남부 추가 
aa15.rename(index={'수원시영통구':'수원남부경찰서'}, inplace=True)

# 수원중부 추가 
aa15.rename(index={'수원시장안구':'수원중부경찰서'}, inplace=True)
aa15.rename(index={'수원시팔달구':'수원중부경찰서'}, inplace=True)

# 수원서부 추가 
aa15.rename(index={'수원시권선구':'수원서부경찰서'}, inplace=True)

aa15.iloc[ aa15.index.get_level_values('sgg_nm').str.contains('수원')]

                       1인가구_10대_계  1인가구_20대_계  1인가구_30대_계  1인가구_40대_계  \
police  sgg_nm  year
수원남부경찰서 수원남부경찰서 2017상          80        2759        4526        3485
                2017하          78        2895        4602        3533
                2018상          76        3031        4678        3580
                2018하          75        3152        4638        3602
                2019상          74        3273        4599        3624
                2019하          76        3428        4655        3665
                2020상          78        3584        4711        3705
                2017상         137        5965        5035        2539
                2017하         149        6271        5188        2576
                2018상         161        6578        5341        2614
                2018하         167        6815        5569        2735
                2019상         172        7051        5798        2856
                2019하         229        7274        5987        2939
                2020상         286        7497        6176        3021
수원중부경찰서 수원중부경찰서 2017상         120        2830        2326        2182
                2017하          97        2615        2264        2144
                2018상          74        2401        2203        2106
                2018하          97        2759        2202        2097
                2019상         119        3118        2201        2088
                2019하         119        3296        2262        2072
                2020상         118        3474        2322        2055
수원서부경찰서 수원서부경찰서 2017상          58        2511        2833        2313
                2017하          61        2612        2810        2245
                2018상          63        2714        2787        2178
                2018하          62        2886        2808        2159
                2019상          62        3059        2830        2141
                2019하          60        3313        2939        2159
                2020상          58        3568        3048        2178

                       1인가구_50대_계  1인가구_60대이상_계  1인가구합계_계  1인가구_10대_남자  \
police  sgg_nm  year
수원남부경찰서 수원남부경찰서 2017상        3023          3891     17766           21
                2017하        3131          4133     18374           21
                2018상        3240          4375     18982           21
                2018하        3287          4573     19329           22
                2019상        3334          4771     19676           24
                2019하        3383          5009     20217           24
                2020상        3431          5248     20758           24
                2017상        1625          2157     17459           66
                2017하        1700          2309     18195           67
                2018상        1775          2460     18931           69
                2018하        1837          2665     19790           73
                2019상        1899          2871     20649           77
                2019하        1952          3016     21398           94
                2020상        2004          3161     22147          111
수원중부경찰서 수원중부경찰서 2017상        2297          3738     13493           64
                2017하        2348          3895     13364           47
                2018상        2399          4052     13236           31
                2018하        2390          4197     13744           49
                2019상        2382          4342     14252           67
                2019하        2416          4526     14692           59
                2020상        2450          4711     15132           52
수원서부경찰서 수원서부경찰서 2017상        2457          3613     13786           25
                2017하        2385          3606     13721           26
                2018상        2314          3600     13657           27
                2018하        2287          3673     13878           26
                2019상        2260          3746     14099           25
                2019하        2296          3904     14673           23
                2020상        2332          4062     15248           21

                       1인가구_20대_남자  1인가구_30대_남자  ...  1인가구_50대_남자  \
police  sgg_nm  year                             ...
수원남부경찰서 수원남부경찰서 2017상         1500         2983  ...         1691
                2017하         1588         3058  ...         1755
                2018상         1677         3133  ...         1819
                2018하         1734         3117  ...         1854
                2019상         1791         3101  ...         1888
                2019하         1867         3130  ...         1926
                2020상         1944         3160  ...         1964
                2017상         3675         3489  ...          833
                2017하         3810         3559  ...          868
                2018상         3946         3628  ...          904
                2018하         4015         3763  ...          932
                2019상         4084         3898  ...          961
                2019하         4124         3996  ...         1001
                2020상         4164         4093  ...         1042
수원중부경찰서 수원중부경찰서 2017상         1920         1570  ...         1266
                2017하         1736         1527  ...         1289
                2018상         1551         1484  ...         1312
                2018하         1811         1494  ...         1328
                2019상         2070         1505  ...         1344
                2019하         2167         1544  ...         1361
                2020상         2263         1584  ...         1379
수원서부경찰서 수원서부경찰서 2017상         1356         1784  ...         1480
                2017하         1410         1768  ...         1438
                2018상         1465         1752  ...         1397
                2018하         1553         1779  ...         1382
                2019상         1641         1805  ...         1367
                2019하         1748         1875  ...         1400
                2020상         1855         1946  ...         1434

                       1인가구_60대이상_남자  1인가구합계_남자  1인가구_10대_여자  1인가구_20대_여자  \
police  sgg_nm  year
수원남부경찰서 수원남부경찰서 2017상           1329       9761           59         1259
                2017하           1418      10113           57         1306
                2018상           1507      10465           55         1354
                2018하           1582      10638           52         1418
                2019상           1658      10810           50         1482
                2019하           1764      11099           52         1561
                2020상           1871      11388           54         1640
                2017상            592      10216           70         2290
                2017하            636      10513           81         2461
                2018상            680      10810           92         2632
                2018하            741      11192           93         2800
                2019상            802      11575           95         2967
                2019하            849      11854          135         3150
                2020상            895      12133          175         3332
수원중부경찰서 수원중부경찰서 2017상           1206       7412           56          909
                2017하           1270       7228           49          879
                2018상           1335       7044           43          849
                2018하           1394       7409           47          948
                2019상           1453       7775           52         1048
                2019하           1537       8004           59         1129
                2020상           1622       8234           66         1210
수원서부경찰서 수원서부경찰서 2017상           1330       7444           33         1155
                2017하           1346       7417           34         1202
                2018상           1362       7390           36         1249
                2018하           1405       7518           36         1333
                2019상           1449       7646           37         1418
                2019하           1519       7944           37         1565
                2020상           1590       8242           37         1713

                       1인가구_30대_여자  1인가구_40대_여자  1인가구_50대_여자  1인가구_60대이상_여자  \
police  sgg_nm  year
수원남부경찰서 수원남부경찰서 2017상         1543         1250         1331           2562
                2017하         1543         1262         1376           2715
                2018상         1544         1274         1421           2868
                2018하         1521         1275         1433           2990
                2019상         1498         1276         1446           3113
                2019하         1524         1279         1456           3245
                2020상         1550         1281         1467           3376
                2017상         1546          978          792           1565
                2017하         1629         1004          831           1673
                2018상         1712         1031          871           1780
                2018하         1806         1068          905           1924
                2019상         1900         1105          938           2068
                2019하         1991         1149          950           2167
                2020상         2083         1194          962           2266
수원중부경찰서 수원중부경찰서 2017상          756          797         1030           2532
                2017하          737          786         1058           2624
                2018상          719          775         1086           2717
                2018하          707          765         1062           2803
                2019상          696          754         1038           2888
                2019하          717          738         1054           2989
                2020상          738          722         1071           3089
수원서부경찰서 수원서부경찰서 2017상         1049          844          977           2283
                2017하         1042          818          946           2260
                2018상         1034          793          916           2238
                2018하         1029          788          904           2267
                2019상         1024          783          893           2297
                2019하         1063          783          895           2384
                2020상         1102          783          898           2472

                       1인가구합계_여자
police  sgg_nm  year
수원남부경찰서 수원남부경찰서 2017상       8005
                2017하       8261
                2018상       8516
                2018하       8691
                2019상       8866
                2019하       9118
                2020상       9370
                2017상       7242
                2017하       7681
                2018상       8120
                2018하       8597
                2019상       9074
                2019하       9544
                2020상      10013
수원중부경찰서 수원중부경찰서 2017상       6081
                2017하       6136
                2018상       6191
                2018하       6334
                2019상       6477
                2019하       6687
                2020상       6898
수원서부경찰서 수원서부경찰서 2017상       6342
                2017하       6304
                2018상       6267
                2018하       6359
                2019상       6452
                2019하       6729
                2020상       7006

[28 rows x 21 columns]

In [137]:
halves15['police'] = halves15.sgg_nm.replace( r'^\D+구$', np.nan , regex=True)
halves15

,sgg_nm,year,1인가구_10대_계,1인가구_20대_계,1인가구_30대_계,1인가구_40대_계,1인가구_50대_계,1인가구_60대이상_계,1인가구합계_계,1인가구_10대_남자,...,1인가구_60대이상_남자,1인가구합계_남자,1인가구_10대_여자,1인가구_20대_여자,1인가구_30대_여자,1인가구_40대_여자,1인가구_50대_여자,1인가구_60대이상_여자,1인가구합계_여자,police
0,강남구,2017상,539,12969,20358,10734,6579,11595,62774,260,...,3203,26515,279,8002,10941,5245,3400,8392,36259,NaN
1,강남구,2017하,480,13066,20265,10662,6496,11780,62750,219,...,3264,26616,261,8005,10865,5181,3305,8515,36134,NaN
2,강남구,2018상,421,13164,20173,10591,6413,11965,62727,178,...,3326,26718,243,8009,10790,5118,3210,8639,36009,NaN
3,강남구,2018하,514,13572,20516,10825,6551,12420,64400,227,...,3503,27452,287,8238,10943,5289,3272,8917,36947,NaN
4,강남구,2019상,607,13981,20860,11059,6690,12876,66073,276,...,3681,28187,331,8467,11097,5461,3335,9195,37886,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,진해경찰서,2018상,43,2092,3903,3516,3634,6776,19964,23,...,2182,11107,20,653,996,1017,1577,4594,8857,진해경찰서
248,진해경찰서,2018하,44,2273,3882,3586,3668,7008,20463,21,...,2246,11369,23,722,993,1015,1577,4762,9094,진해경찰서
249,진해경찰서,2019상,46,2454,3862,3656,3703,7241,20962,20,...,2310,11631,26,792,990,1014,1578,4931,9331,진해경찰서
250,진해경찰서,2019하,52,2475,3859,3778,3822,7605,21592,27,...,2489,11988,25,820,999,1035,1608,5116,9604,진해경찰서
251,진해경찰서,2020상,58,2496,3857,3901,3941,7970,22223,34,...,2668,12345,24,849,1008,1056,1639,5302,9878,진해경찰서

In [138]:
aa15 = aa15.reset_index(drop=False)
aa15

,police,sgg_nm,year,1인가구_10대_계,1인가구_20대_계,1인가구_30대_계,1인가구_40대_계,1인가구_50대_계,1인가구_60대이상_계,1인가구합계_계,...,1인가구_50대_남자,1인가구_60대이상_남자,1인가구합계_남자,1인가구_10대_여자,1인가구_20대_여자,1인가구_30대_여자,1인가구_40대_여자,1인가구_50대_여자,1인가구_60대이상_여자,1인가구합계_여자
0,서울강남경찰서,강남구,2017상,269,6484,10179,5367,3289,5797,31387,...,1589,1601,13257,139,4001,5470,2622,1700,4196,18129
1,서울강남경찰서,강남구,2017하,240,6533,10132,5331,3248,5890,31375,...,1595,1632,13308,130,4002,5432,2590,1652,4257,18067
2,서울강남경찰서,강남구,2018상,210,6582,10086,5295,3206,5982,31363,...,1601,1663,13359,121,4004,5395,2559,1605,4319,18004
3,서울강남경찰서,강남구,2018하,257,6786,10258,5412,3275,6210,32200,...,1639,1751,13726,143,4119,5471,2644,1636,4458,18473
4,서울강남경찰서,강남구,2019상,303,6990,10430,5529,3345,6438,33036,...,1677,1840,14093,165,4233,5548,2730,1667,4597,18943
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,창원중부경찰서,창원시의창구,2018상,53,1593,2413,2539,2871,3998,13468,...,1557,1388,7235,25,633,756,896,1313,2609,6233
129,창원중부경찰서,창원시의창구,2018하,53,1723,2412,2524,2917,4137,13768,...,1579,1439,7397,25,671,748,889,1338,2698,6370
130,창원중부경찰서,창원시의창구,2019상,52,1854,2410,2508,2964,4277,14067,...,1602,1490,7559,25,709,741,883,1362,2787,6508
131,창원중부경찰서,창원시의창구,2019하,60,2039,2493,2547,3029,4518,14688,...,1662,1593,7894,29,812,762,897,1366,2925,6794
132,창원중부경찰서,창원시의창구,2020상,69,2224,2576,2586,3094,4759,15309,...,1723,1695,8228,34,916,784,911,1371,3063,7081

In [139]:
# 합쳐준다 
save15 = pd.concat( [halves15, aa15], join='inner' )
save15 = save15[ save15.police.isnull()==False]
save15 = save15.groupby(['police', 'year']).sum().reset_index(drop=False)
save15

,police,year,1인가구_10대_계,1인가구_20대_계,1인가구_30대_계,1인가구_40대_계,1인가구_50대_계,1인가구_60대이상_계,1인가구합계_계,1인가구_10대_남자,...,1인가구_50대_남자,1인가구_60대이상_남자,1인가구합계_남자,1인가구_10대_여자,1인가구_20대_여자,1인가구_30대_여자,1인가구_40대_여자,1인가구_50대_여자,1인가구_60대이상_여자,1인가구합계_여자
0,마산동부경찰서,2017상,63,1566,2542,3247,4505,8242,20165,29,...,2381,2735,9818,34,706,820,1156,2124,5507,10347
1,마산동부경찰서,2017하,64,1548,2459,3187,4425,8432,20117,32,...,2355,2818,9778,32,708,791,1123,2070,5614,10338
2,마산동부경찰서,2018상,66,1531,2376,3128,4346,8622,20069,36,...,2330,2901,9739,30,710,762,1091,2016,5721,10330
3,마산동부경찰서,2018하,73,1557,2292,3010,4307,8960,20200,37,...,2331,3017,9713,36,738,745,1047,1976,5943,10486
4,마산동부경찰서,2019상,81,1583,2208,2892,4268,9299,20331,39,...,2332,3133,9688,42,767,729,1003,1936,6166,10643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,창원중부경찰서,2018상,99,4915,7091,6369,6391,8006,32874,50,...,3331,2758,17723,49,2055,2326,2414,3059,5247,15151
283,창원중부경찰서,2018하,105,5151,7026,6360,6527,8353,33528,55,...,3401,2881,17973,49,2163,2316,2425,3124,5470,15552
284,창원중부경찰서,2019상,112,5388,6960,6350,6664,8703,34179,61,...,3474,3006,18225,51,2273,2305,2437,3190,5695,15954
285,창원중부경찰서,2019하,110,5743,7209,6447,6827,9276,35616,59,...,3606,3223,19038,49,2450,2336,2463,3220,6051,16576
286,창원중부경찰서,2020상,111,6098,7460,6544,6990,9849,37053,58,...,3739,3439,19852,50,2628,2370,2489,3251,6409,17201

In [140]:
# 저장 
# save15.to_csv('전처리15_1인가구_경찰서별.csv', header=True, index=False, encoding='utf-8-sig')

## 16

In [141]:
halves16

sx   sgg_nm   year  외국인인구_계  외국인인구_남자  외국인인구_여자
0       강남구  2017상     7655      3706      3949
1       강남구  2017하     8234      4164      4070
2       강남구  2018상     8814      4623      4191
3       강남구  2018하     9269      4988      4281
4       강남구  2019상     9725      5354      4371
..      ...    ...      ...       ...       ...
246  창원시진해구  2018상     4651      2951      1700
247  창원시진해구  2018하     4784      3050      1734
248  창원시진해구  2019상     4917      3149      1768
249  창원시진해구  2019하     4762      2982      1780
250  창원시진해구  2020상     4607      2815      1792

[251 rows x 5 columns]

In [142]:
# 구-> 경찰서 
halves16.sgg_nm = halves16.sgg_nm.str.replace('강동구', '서울강동경찰서')

halves16.sgg_nm = halves16.sgg_nm.str.replace('강북구', '서울강북경찰서')
halves16.sgg_nm = halves16.sgg_nm.str.replace('강서구', '서울강서경찰서')
halves16.sgg_nm = halves16.sgg_nm.str.replace('관악구', '서울관악경찰서')
halves16.sgg_nm = halves16.sgg_nm.str.replace('광진구', '서울광진경찰서')
halves16.sgg_nm = halves16.sgg_nm.str.replace('구로구', '서울구로경찰서')
halves16.sgg_nm = halves16.sgg_nm.str.replace('금천구', '서울금천경찰서')
halves16.sgg_nm = halves16.sgg_nm.str.replace('노원구', '서울노원경찰서')
halves16.sgg_nm = halves16.sgg_nm.str.replace('도봉구', '서울도봉경찰서')
halves16.sgg_nm = halves16.sgg_nm.str.replace('동대문구', '서울동대문경찰서')
halves16.sgg_nm = halves16.sgg_nm.str.replace('동작구', '서울동작경찰서')
halves16.sgg_nm = halves16.sgg_nm.str.replace('마포구', '서울마포경찰서')
halves16.sgg_nm = halves16.sgg_nm.str.replace('서대문구', '서울서대문경찰서')

halves16.sgg_nm = halves16.sgg_nm.str.replace('성동구', '서울성동경찰서')

halves16.sgg_nm = halves16.sgg_nm.str.replace('세종시', '세종경찰서')
halves16.sgg_nm = halves16.sgg_nm.str.replace('송파구', '서울송파경찰서')

halves16.sgg_nm = halves16.sgg_nm.str.replace('양천구', '서울양천경찰서')
halves16.sgg_nm = halves16.sgg_nm.str.replace('영등포구', '서울영등포경찰서')
halves16.sgg_nm = halves16.sgg_nm.str.replace('용산구', '서울용산경찰서')

halves16.sgg_nm = halves16.sgg_nm.str.replace('중랑구', '서울중랑경찰서')
halves16.sgg_nm = halves16.sgg_nm.str.replace('진주시', '진주경찰서')

halves16.sgg_nm = halves16.sgg_nm.str.replace('창원시마산합포구', '마산중부경찰서')
halves16.sgg_nm = halves16.sgg_nm.str.replace('창원시마산회원구', '마산동부경찰서')

halves16.sgg_nm = halves16.sgg_nm.str.replace('창원시진해구', '진해경찰서')

In [143]:
# 한 지역 두 관할 
add16 = halves16[ ( halves16.sgg_nm == '창원시성산구') |
         ( halves16.sgg_nm == '창원시의창구') |
        ( halves16.sgg_nm == '강남구') | 
        ( halves16.sgg_nm == '서초구') | 
        ( halves16.sgg_nm == '성북구') | 
         ( halves16.sgg_nm == '은평구') | 
         ( halves16.sgg_nm == '종로구') | 
          ( halves16.sgg_nm == '중구') | 
          ( halves16.sgg_nm == '수원시권선구') | 
               ( halves16.sgg_nm == '수원시팔달구') | 
               ( halves16.sgg_nm == '수원시영통구') | 
          ( halves16.sgg_nm == '수원시장안구') 
        ]
add16.reset_index(drop=True, inplace=True)
add16

sx  sgg_nm   year  외국인인구_계  외국인인구_남자  외국인인구_여자
0      강남구  2017상     7655      3706      3949
1      강남구  2017하     8234      4164      4070
2      강남구  2018상     8814      4623      4191
3      강남구  2018하     9269      4988      4281
4      강남구  2019상     9725      5354      4371
..     ...    ...      ...       ...       ...
79  창원시의창구  2018상     5074      3030      2044
80  창원시의창구  2018하     5087      3010      2076
81  창원시의창구  2019상     5100      2991      2109
82  창원시의창구  2019하     4935      2832      2103
83  창원시의창구  2020상     4770      2673      2097

[84 rows x 5 columns]

In [144]:
# 해당 지역만 셀렉트 
# 서울 지역 + 창원시의창구만 셀렉트 
ex16 = add16[(add16.sgg_nm.apply(lambda x: len(x) <= 3) ) |(add16.sgg_nm=='창원시의창구')]
ex16

sx  sgg_nm   year  외국인인구_계  외국인인구_남자  외국인인구_여자
0      강남구  2017상     7655      3706      3949
1      강남구  2017하     8234      4164      4070
2      강남구  2018상     8814      4623      4191
3      강남구  2018하     9269      4988      4281
4      강남구  2019상     9725      5354      4371
5      강남구  2019하     9501      4983      4518
6      강남구  2020상     9278      4612      4666
7      서초구  2017상     6538      3168      3370
8      서초구  2017하     6840      3386      3454
9      서초구  2018상     7143      3604      3539
10     서초구  2018하     7539      3938      3600
11     서초구  2019상     7935      4273      3662
12     서초구  2019하     7679      3933      3746
13     서초구  2020상     7423      3593      3830
14     성북구  2017상    13191      5694      7497
15     성북구  2017하    13857      5933      7923
16     성북구  2018상    14523      6173      8350
17     성북구  2018하    15037      6397      8640
18     성북구  2019상    15552      6621      8931
19     성북구  2019하    14545      6048      8497
20     성북구  2020상    13538      5475      8063
49     은평구  2017상     5592      2425      3167
50     은평구  2017하     5781      2529      3251
51     은평구  2018상     5970      2634      3336
52     은평구  2018하     6180      2713      3466
53     은평구  2019상     6390      2793      3597
54     은평구  2019하     6295      2676      3618
55     은평구  2020상     6200      2560      3640
56     종로구  2017상    10979      4913      6066
57     종로구  2017하    11517      5224      6293
58     종로구  2018상    12056      5536      6520
59     종로구  2018하    12607      5677      6930
60     종로구  2019상    13159      5818      7341
61     종로구  2019하    12366      5480      6885
62     종로구  2020상    11573      5143      6430
63      중구  2017상    10265      4804      5461
64      중구  2017하    11126      5269      5857
65      중구  2018상    11988      5735      6253
66      중구  2018하    12273      5880      6393
67      중구  2019상    12559      6025      6534
68      중구  2019하    12025      5723      6302
69      중구  2020상    11492      5422      6070
77  창원시의창구  2017상     4834      3010      1824
78  창원시의창구  2017하     4954      3020      1934
79  창원시의창구  2018상     5074      3030      2044
80  창원시의창구  2018하     5087      3010      2076
81  창원시의창구  2019상     5100      2991      2109
82  창원시의창구  2019하     4935      2832      2103
83  창원시의창구  2020상     4770      2673      2097

In [145]:
# 한 지역을 두 관할로 만들어준다 

ex16['police'] = ex16.sgg_nm.str.replace( '강남구', '서울강남경찰서')
ex16['police'] = ex16.police.str.replace( '서초구', '서울서초경찰서')
ex16['police'] = ex16.police.str.replace( '성북구', '서울종암경찰서')
ex16['police'] = ex16.police.str.replace( '은평구', '서울은평경찰서')
ex16['police'] = ex16.police.str.replace( '종로구', '서울종로경찰서')
ex16['police'] = ex16.police.str.replace( '중구', '서울중부경찰서')

add16['police'] = add16.sgg_nm.str.replace( '강남구', '서울수서경찰서')
add16.police = add16.police.str.replace( '서초구', '서울방배경찰서')
add16.police = add16.police.str.replace( '성북구', '서울성북경찰서')
add16.police = add16.police.str.replace( '은평구', '서울서부경찰서')
add16.police = add16.police.str.replace( '종로구', '서울혜화경찰서')
add16.police = add16.police.str.replace( '중구', '서울남대문경찰서')
add16.police = add16.police.str.replace( '창원시의창구', '창원서부경찰서')

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/app-root/lib/python3.6/site-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [146]:
# 합쳐준다 
a16 = add16.append( ex16, ignore_index=True ) 
a16

sx   sgg_nm   year  외국인인구_계  외국인인구_남자  외국인인구_여자   police
0       강남구  2017상     7655      3706      3949  서울수서경찰서
1       강남구  2017하     8234      4164      4070  서울수서경찰서
2       강남구  2018상     8814      4623      4191  서울수서경찰서
3       강남구  2018하     9269      4988      4281  서울수서경찰서
4       강남구  2019상     9725      5354      4371  서울수서경찰서
..      ...    ...      ...       ...       ...      ...
128  창원시의창구  2018상     5074      3030      2044   창원시의창구
129  창원시의창구  2018하     5087      3010      2076   창원시의창구
130  창원시의창구  2019상     5100      2991      2109   창원시의창구
131  창원시의창구  2019하     4935      2832      2103   창원시의창구
132  창원시의창구  2020상     4770      2673      2097   창원시의창구

[133 rows x 6 columns]

In [147]:
# 모든 컬럼을 2로 나눠준다 
aa16 = a16.groupby(['police','sgg_nm', 'year' ]).sum().apply(lambda x: x/2).astype(int)
aa16 
# a16.groupby(['sgg_nm', 'year']).apply(lambda x: x/2).astype(int)

sx                    외국인인구_계  외국인인구_남자  외국인인구_여자
police  sgg_nm year
서울강남경찰서 강남구    2017상     3827      1853      1974
               2017하     4117      2082      2035
               2018상     4407      2311      2095
               2018하     4634      2494      2140
               2019상     4862      2677      2185
...                       ...       ...       ...
창원시의창구  창원시의창구 2018상     2537      1515      1022
               2018하     2543      1505      1038
               2019상     2550      1495      1054
               2019하     2467      1416      1051
               2020상     2385      1336      1048

[133 rows x 3 columns]

In [148]:
# 창원중부경찰서 = '창원시성산구' + '창원시의창구/2 
# 창원시성산구는 다시 x2 
aa16.iloc[ aa16.index.get_level_values('sgg_nm') == '창원시성산구', :] = aa16.iloc[ aa16.index.get_level_values('sgg_nm') == '창원시성산구', :].apply(lambda x: x*2)
aa16.iloc[ aa16.index.get_level_values('sgg_nm') == '창원시성산구', :]
aa16.rename(index={'창원시성산구':'창원중부경찰서'}, inplace=True)

aa16.iloc[ (aa16.index.get_level_values('sgg_nm') == '창원시의창구')] 
aa16.rename(index={'창원시의창구':'창원중부경찰서'}, level=0, inplace=True)

aa16.iloc[(aa16.index.get_level_values('police') == '창원중부경찰서') ]

sx                     외국인인구_계  외국인인구_남자  외국인인구_여자
police  sgg_nm  year
창원중부경찰서 창원중부경찰서 2017상     4936      3608      1328
                2017하     5018      3624      1394
                2018상     5100      3642      1458
                2018하     5146      3638      1506
                2019상     5190      3634      1556
                2019하     4868      3330      1536
                2020상     4544      3028      1516
        창원시의창구  2017상     2417      1505       912
                2017하     2477      1510       967
                2018상     2537      1515      1022
                2018하     2543      1505      1038
                2019상     2550      1495      1054
                2019하     2467      1416      1051
                2020상     2385      1336      1048

In [149]:
# 수원시만 복사 
sws = aa16.iloc[(aa16.index.get_level_values('police').str.contains('수원'))] 
sws

sx                   외국인인구_계  외국인인구_남자  외국인인구_여자
police sgg_nm year
수원시권선구 수원시권선구 2017상     6370      3284      3086
              2017하     6860      3528      3331
              2018상     7350      3773      3577
              2018하     7510      3865      3645
              2019상     7669      3957      3712
              2019하     7677      3912      3765
              2020상     7686      3868      3817
수원시영통구 수원시영통구 2017상     4254      2324      1930
              2017하     4422      2409      2013
              2018상     4591      2494      2096
              2018하     4791      2564      2227
              2019상     4991      2634      2357
              2019하     4906      2512      2394
              2020상     4822      2390      2431
수원시장안구 수원시장안구 2017상     4217      2233      1984
              2017하     4564      2426      2137
              2018상     4911      2620      2291
              2018하     5058      2678      2380
              2019상     5206      2737      2469
              2019하     5092      2650      2442
              2020상     4979      2562      2416
수원시팔달구 수원시팔달구 2017상     9454      5062      4392
              2017하     9723      5248      4474
              2018상     9992      5435      4557
              2018하    10108      5511      4597
              2019상    10225      5587      4638
              2019하    10201      5526      4675
              2020상    10178      5465      4713

In [150]:
# 수원시 데이터만 계산 

# aa16.iloc[ aa16.index.get_level_values('sgg_nm') == '수원시영통구', :]

# 수원남부
# aa16.iloc[ aa16.index.get_level_values('sgg_nm')=='수원시권선구']
aa16.rename(index={'수원시권선구':'수원남부경찰서'}, inplace=True)

# 수원중부 
# aa16.iloc[ aa16.index.get_level_values('sgg_nm')=='수원시장안구']
aa16.rename(index={'수원시장안구':'수원중부경찰서'}, inplace=True)

# 수원서부 
# aa16.iloc[ aa16.index.get_level_values('sgg_nm')=='수원시팔달구']
aa16.rename(index={'수원시팔달구':'수원서부경찰서'}, inplace=True)

# 수원을 추가 
# aa16 = aa16.append( sws )

# 수원남부 추가 
aa16.rename(index={'수원시영통구':'수원남부경찰서'}, inplace=True)

# 수원중부 추가 
aa16.rename(index={'수원시장안구':'수원중부경찰서'}, inplace=True)
aa16.rename(index={'수원시팔달구':'수원중부경찰서'}, inplace=True)

# 수원서부 추가 
aa16.rename(index={'수원시권선구':'수원서부경찰서'}, inplace=True)

aa16.iloc[ aa16.index.get_level_values('sgg_nm').str.contains('수원')]

sx                     외국인인구_계  외국인인구_남자  외국인인구_여자
police  sgg_nm  year
수원남부경찰서 수원남부경찰서 2017상     6370      3284      3086
                2017하     6860      3528      3331
                2018상     7350      3773      3577
                2018하     7510      3865      3645
                2019상     7669      3957      3712
                2019하     7677      3912      3765
                2020상     7686      3868      3817
                2017상     4254      2324      1930
                2017하     4422      2409      2013
                2018상     4591      2494      2096
                2018하     4791      2564      2227
                2019상     4991      2634      2357
                2019하     4906      2512      2394
                2020상     4822      2390      2431
수원중부경찰서 수원중부경찰서 2017상     4217      2233      1984
                2017하     4564      2426      2137
                2018상     4911      2620      2291
                2018하     5058      2678      2380
                2019상     5206      2737      2469
                2019하     5092      2650      2442
                2020상     4979      2562      2416
수원서부경찰서 수원서부경찰서 2017상     9454      5062      4392
                2017하     9723      5248      4474
                2018상     9992      5435      4557
                2018하    10108      5511      4597
                2019상    10225      5587      4638
                2019하    10201      5526      4675
                2020상    10178      5465      4713

In [151]:
halves16['police'] = halves16.sgg_nm.replace( r'^\D+구$', np.nan , regex=True)
halves16

sx  sgg_nm   year  외국인인구_계  외국인인구_남자  외국인인구_여자 police
0      강남구  2017상     7655      3706      3949    NaN
1      강남구  2017하     8234      4164      4070    NaN
2      강남구  2018상     8814      4623      4191    NaN
3      강남구  2018하     9269      4988      4281    NaN
4      강남구  2019상     9725      5354      4371    NaN
..     ...    ...      ...       ...       ...    ...
246  진해경찰서  2018상     4651      2951      1700  진해경찰서
247  진해경찰서  2018하     4784      3050      1734  진해경찰서
248  진해경찰서  2019상     4917      3149      1768  진해경찰서
249  진해경찰서  2019하     4762      2982      1780  진해경찰서
250  진해경찰서  2020상     4607      2815      1792  진해경찰서

[251 rows x 6 columns]

In [152]:
aa16 = aa16.reset_index(drop=False)
aa16

sx    police  sgg_nm   year  외국인인구_계  외국인인구_남자  외국인인구_여자
0    서울강남경찰서     강남구  2017상     3827      1853      1974
1    서울강남경찰서     강남구  2017하     4117      2082      2035
2    서울강남경찰서     강남구  2018상     4407      2311      2095
3    서울강남경찰서     강남구  2018하     4634      2494      2140
4    서울강남경찰서     강남구  2019상     4862      2677      2185
..       ...     ...    ...      ...       ...       ...
128  창원중부경찰서  창원시의창구  2018상     2537      1515      1022
129  창원중부경찰서  창원시의창구  2018하     2543      1505      1038
130  창원중부경찰서  창원시의창구  2019상     2550      1495      1054
131  창원중부경찰서  창원시의창구  2019하     2467      1416      1051
132  창원중부경찰서  창원시의창구  2020상     2385      1336      1048

[133 rows x 6 columns]

In [153]:
# 합쳐준다 
save16 = pd.concat( [halves16, aa16], join='inner' )
save16 = save16[ save16.police.isnull()==False]
save16 = save16.groupby(['police', 'year']).sum().reset_index(drop=False)
save16

sx    police   year  외국인인구_계  외국인인구_남자  외국인인구_여자
0    마산동부경찰서  2017상     2770      1635      1135
1    마산동부경찰서  2017하     2770      1624      1145
2    마산동부경찰서  2018상     2770      1614      1156
3    마산동부경찰서  2018하     2820      1612      1208
4    마산동부경찰서  2019상     2871      1611      1260
..       ...    ...      ...       ...       ...
281  창원중부경찰서  2018상     7637      5157      2480
282  창원중부경찰서  2018하     7689      5143      2544
283  창원중부경찰서  2019상     7740      5129      2610
284  창원중부경찰서  2019하     7335      4746      2587
285  창원중부경찰서  2020상     6929      4364      2564

[286 rows x 5 columns]

In [154]:
# 저장 
# save16.to_csv('전처리16_외국인인구_경찰서별.csv', header=True, index=False, encoding='utf-8-sig')

## 17

In [155]:
halves17 = f17.copy() 
halves17

     sgg_nm   year  welfare
0       강남구  2017상    10722
1       강남구  2017하    10707
2       강남구  2018상    10533
3       강남구  2018하    10467
4       강남구  2019상    11341
..      ...    ...      ...
271  창원시진해구  2018하     4949
272  창원시진해구  2019상     5454
273  창원시진해구  2019하     5720
274  창원시진해구  2020상     6128
275  창원시진해구  2020하     6744

[276 rows x 3 columns]

In [156]:
# 지역 -> 경찰서 
halves17.sgg_nm = halves17.sgg_nm.str.replace('강동구', '서울강동경찰서')

halves17.sgg_nm = halves17.sgg_nm.str.replace('강북구', '서울강북경찰서')
halves17.sgg_nm = halves17.sgg_nm.str.replace('강서구', '서울강서경찰서')
halves17.sgg_nm = halves17.sgg_nm.str.replace('관악구', '서울관악경찰서')
halves17.sgg_nm = halves17.sgg_nm.str.replace('광진구', '서울광진경찰서')
halves17.sgg_nm = halves17.sgg_nm.str.replace('구로구', '서울구로경찰서')
halves17.sgg_nm = halves17.sgg_nm.str.replace('금천구', '서울금천경찰서')
halves17.sgg_nm = halves17.sgg_nm.str.replace('노원구', '서울노원경찰서')
halves17.sgg_nm = halves17.sgg_nm.str.replace('도봉구', '서울도봉경찰서')
halves17.sgg_nm = halves17.sgg_nm.str.replace('동대문구', '서울동대문경찰서')
halves17.sgg_nm = halves17.sgg_nm.str.replace('동작구', '서울동작경찰서')
halves17.sgg_nm = halves17.sgg_nm.str.replace('마포구', '서울마포경찰서')
halves17.sgg_nm = halves17.sgg_nm.str.replace('서대문구', '서울서대문경찰서')

halves17.sgg_nm = halves17.sgg_nm.str.replace('성동구', '서울성동경찰서')

halves17.sgg_nm = halves17.sgg_nm.str.replace('세종시', '세종경찰서')
halves17.sgg_nm = halves17.sgg_nm.str.replace('송파구', '서울송파경찰서')

halves17.sgg_nm = halves17.sgg_nm.str.replace('양천구', '서울양천경찰서')
halves17.sgg_nm = halves17.sgg_nm.str.replace('영등포구', '서울영등포경찰서')
halves17.sgg_nm = halves17.sgg_nm.str.replace('용산구', '서울용산경찰서')

halves17.sgg_nm = halves17.sgg_nm.str.replace('중랑구', '서울중랑경찰서')
halves17.sgg_nm = halves17.sgg_nm.str.replace('진주시', '진주경찰서')

halves17.sgg_nm = halves17.sgg_nm.str.replace('창원시마산합포구', '마산중부경찰서')
halves17.sgg_nm = halves17.sgg_nm.str.replace('창원시마산회원구', '마산동부경찰서')

halves17.sgg_nm = halves17.sgg_nm.str.replace('창원시진해구', '진해경찰서')

In [157]:
# 한지역 두관할 
add17 = halves17[ ( halves17.sgg_nm == '창원시성산구') |
         ( halves17.sgg_nm == '창원시의창구') |
        ( halves17.sgg_nm == '강남구') | 
        ( halves17.sgg_nm == '서초구') | 
        ( halves17.sgg_nm == '성북구') | 
         ( halves17.sgg_nm == '은평구') | 
         ( halves17.sgg_nm == '종로구') | 
          ( halves17.sgg_nm == '중구') | 
          ( halves17.sgg_nm == '수원시권선구') | 
               ( halves17.sgg_nm == '수원시팔달구') | 
               ( halves17.sgg_nm == '수원시영통구') | 
          ( halves17.sgg_nm == '수원시장안구') 
        ]
add17.reset_index(drop=True, inplace=True)
add17

    sgg_nm   year  welfare
0      강남구  2017상    10722
1      강남구  2017하    10707
2      강남구  2018상    10533
3      강남구  2018하    10467
4      강남구  2019상    11341
..     ...    ...      ...
79  창원시의창구  2018하     4949
80  창원시의창구  2019상     5454
81  창원시의창구  2019하     5720
82  창원시의창구  2020상     6128
83  창원시의창구  2020하     6744

[84 rows x 3 columns]

In [158]:
# 서울 지역 + 창원시의창구만 셀렉트 
ex17 = add17[(add17.sgg_nm.apply(lambda x: len(x) <= 3) ) |(add17.sgg_nm=='창원시의창구')]
ex17

    sgg_nm   year  welfare
0      강남구  2017상    10722
1      강남구  2017하    10707
2      강남구  2018상    10533
3      강남구  2018하    10467
4      강남구  2019상    11341
5      강남구  2019하    12046
6      강남구  2020상    12627
7      강남구  2020하    13840
8      서초구  2017상     4675
9      서초구  2017하     4685
10     서초구  2018상     4696
11     서초구  2018하     4913
12     서초구  2019상     5579
13     서초구  2019하     5767
14     서초구  2020상     5970
15     서초구  2020하     6443
16     성북구  2017상    12052
17     성북구  2017하    12086
18     성북구  2018상    11899
19     성북구  2018하    12005
20     성북구  2019상    12827
21     성북구  2019하    13237
22     성북구  2020상    13727
23     성북구  2020하    14930
24     은평구  2017상    15202
25     은평구  2017하    15222
26     은평구  2018상    15165
27     은평구  2018하    16126
28     은평구  2019상    18138
29     은평구  2019하    18807
30     은평구  2020상    19873
31     은평구  2020하    21849
32     종로구  2017상     3636
33     종로구  2017하     3640
34     종로구  2018상     3619
35     종로구  2018하     3685
36     종로구  2019상     3930
37     종로구  2019하     4053
38     종로구  2020상     4301
39     종로구  2020하     4560
40      중구  2017상     3809
41      중구  2017하     3840
42      중구  2018상     3849
43      중구  2018하     3992
44      중구  2019상     4300
45      중구  2019하     4438
46      중구  2020상     4684
47      중구  2020하     5089
76  창원시의창구  2017상     4731
77  창원시의창구  2017하     4737
78  창원시의창구  2018상     4682
79  창원시의창구  2018하     4949
80  창원시의창구  2019상     5454
81  창원시의창구  2019하     5720
82  창원시의창구  2020상     6128
83  창원시의창구  2020하     6744

In [159]:
# 한지역 두관할 이름 교체 

ex17['police'] = ex17.sgg_nm.str.replace( '강남구', '서울강남경찰서')
ex17['police'] = ex17.police.str.replace( '서초구', '서울서초경찰서')
ex17['police'] = ex17.police.str.replace( '성북구', '서울종암경찰서')
ex17['police'] = ex17.police.str.replace( '은평구', '서울은평경찰서')
ex17['police'] = ex17.police.str.replace( '종로구', '서울종로경찰서')
ex17['police'] = ex17.police.str.replace( '중구', '서울중부경찰서')

add17['police'] = add17.sgg_nm.str.replace( '강남구', '서울수서경찰서')
add17.police = add17.police.str.replace( '서초구', '서울방배경찰서')
add17.police = add17.police.str.replace( '성북구', '서울성북경찰서')
add17.police = add17.police.str.replace( '은평구', '서울서부경찰서')
add17.police = add17.police.str.replace( '종로구', '서울혜화경찰서')
add17.police = add17.police.str.replace( '중구', '서울남대문경찰서')
add17.police = add17.police.str.replace( '창원시의창구', '창원서부경찰서')

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/app-root/lib/python3.6/site-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [160]:
# 합쳐준다 
a17 = add17.append( ex17, ignore_index=True ) 
a17

     sgg_nm   year  welfare   police
0       강남구  2017상    10722  서울수서경찰서
1       강남구  2017하    10707  서울수서경찰서
2       강남구  2018상    10533  서울수서경찰서
3       강남구  2018하    10467  서울수서경찰서
4       강남구  2019상    11341  서울수서경찰서
..      ...    ...      ...      ...
135  창원시의창구  2018하     4949   창원시의창구
136  창원시의창구  2019상     5454   창원시의창구
137  창원시의창구  2019하     5720   창원시의창구
138  창원시의창구  2020상     6128   창원시의창구
139  창원시의창구  2020하     6744   창원시의창구

[140 rows x 4 columns]

In [161]:
# 모든 컬럼을 2로 나눠준다 
aa17 = a17.groupby(['police','sgg_nm', 'year' ]).sum().apply(lambda x: x/2).astype(int)
aa17 
# a17.groupby(['sgg_nm', 'year']).apply(lambda x: x/2).astype(int)

                      welfare
police  sgg_nm year
서울강남경찰서 강남구    2017상     5361
               2017하     5353
               2018상     5266
               2018하     5233
               2019상     5670
...                       ...
창원시의창구  창원시의창구 2018하     2474
               2019상     2727
               2019하     2860
               2020상     3064
               2020하     3372

[140 rows x 1 columns]

In [162]:
# 창원중부경찰서 = '창원시성산구' + '창원시의창구/2 

# 창원시성산구는 다시 x2 
aa17.iloc[ aa17.index.get_level_values('sgg_nm') == '창원시성산구', :] = aa17.iloc[ aa17.index.get_level_values('sgg_nm') == '창원시성산구', :].apply(lambda x: x*2)
aa17.iloc[ aa17.index.get_level_values('sgg_nm') == '창원시성산구', :]
aa17.rename(index={'창원시성산구':'창원중부경찰서'}, inplace=True)

aa17.iloc[ (aa17.index.get_level_values('sgg_nm') == '창원시의창구')] 
aa17.rename(index={'창원시의창구':'창원중부경찰서'}, level=0, inplace=True)

aa17.iloc[(aa17.index.get_level_values('police') == '창원중부경찰서') ]

                       welfare
police  sgg_nm  year
창원중부경찰서 창원중부경찰서 2017상     4730
                2017하     4736
                2018상     4682
                2018하     4948
                2019상     5454
                2019하     5720
                2020상     6128
                2020하     6744
        창원시의창구  2017상     2365
                2017하     2368
                2018상     2341
                2018하     2474
                2019상     2727
                2019하     2860
                2020상     3064
                2020하     3372

In [163]:
# 수원시만 복사 
sws = aa17.iloc[(aa17.index.get_level_values('police').str.contains('수원'))] 
sws

                     welfare
police sgg_nm year
수원시권선구 수원시권선구 2017상     2616
              2017하     2838
              2018상     3060
              2018하     3182
              2019상     3305
수원시영통구 수원시영통구 2017상     1086
              2017하     1174
              2018상     1263
              2018하     1376
              2019상     1489
수원시장안구 수원시장안구 2017상     2154
              2017하     2329
              2018상     2505
              2018하     2567
              2019상     2630
수원시팔달구 수원시팔달구 2017상     2533
              2017하     2622
              2018상     2712
              2018하     2770
              2019상     2828

In [164]:
# 수원시 따로 계산 

# aa17.iloc[ aa17.index.get_level_values('sgg_nm') == '수원시영통구', :]

# 수원남부
# aa17.iloc[ aa17.index.get_level_values('sgg_nm')=='수원시권선구']
aa17.rename(index={'수원시권선구':'수원남부경찰서'}, inplace=True)

# 수원중부 
# aa17.iloc[ aa17.index.get_level_values('sgg_nm')=='수원시장안구']
aa17.rename(index={'수원시장안구':'수원중부경찰서'}, inplace=True)

# 수원서부 
# aa17.iloc[ aa17.index.get_level_values('sgg_nm')=='수원시팔달구']
aa17.rename(index={'수원시팔달구':'수원서부경찰서'}, inplace=True)

# 수원을 추가 
# aa17 = aa17.append( sws )

# 수원남부 추가 
aa17.rename(index={'수원시영통구':'수원남부경찰서'}, inplace=True)

# 수원중부 추가 
aa17.rename(index={'수원시장안구':'수원중부경찰서'}, inplace=True)
aa17.rename(index={'수원시팔달구':'수원중부경찰서'}, inplace=True)

# 수원서부 추가 
aa17.rename(index={'수원시권선구':'수원서부경찰서'}, inplace=True)

aa17.iloc[ aa17.index.get_level_values('sgg_nm').str.contains('수원')]

                       welfare
police  sgg_nm  year
수원남부경찰서 수원남부경찰서 2017상     2616
                2017하     2838
                2018상     3060
                2018하     3182
                2019상     3305
                2017상     1086
                2017하     1174
                2018상     1263
                2018하     1376
                2019상     1489
수원중부경찰서 수원중부경찰서 2017상     2154
                2017하     2329
                2018상     2505
                2018하     2567
                2019상     2630
수원서부경찰서 수원서부경찰서 2017상     2533
                2017하     2622
                2018상     2712
                2018하     2770
                2019상     2828

In [165]:
halves17['police'] = halves17.sgg_nm.replace( r'^\D+구$', np.nan , regex=True)
halves17

    sgg_nm   year  welfare police
0      강남구  2017상    10722    NaN
1      강남구  2017하    10707    NaN
2      강남구  2018상    10533    NaN
3      강남구  2018하    10467    NaN
4      강남구  2019상    11341    NaN
..     ...    ...      ...    ...
271  진해경찰서  2018하     4949  진해경찰서
272  진해경찰서  2019상     5454  진해경찰서
273  진해경찰서  2019하     5720  진해경찰서
274  진해경찰서  2020상     6128  진해경찰서
275  진해경찰서  2020하     6744  진해경찰서

[276 rows x 4 columns]

In [166]:
aa17 = aa17.reset_index(drop=False)
aa17

      police  sgg_nm   year  welfare
0    서울강남경찰서     강남구  2017상     5361
1    서울강남경찰서     강남구  2017하     5353
2    서울강남경찰서     강남구  2018상     5266
3    서울강남경찰서     강남구  2018하     5233
4    서울강남경찰서     강남구  2019상     5670
..       ...     ...    ...      ...
135  창원중부경찰서  창원시의창구  2018하     2474
136  창원중부경찰서  창원시의창구  2019상     2727
137  창원중부경찰서  창원시의창구  2019하     2860
138  창원중부경찰서  창원시의창구  2020상     3064
139  창원중부경찰서  창원시의창구  2020하     3372

[140 rows x 4 columns]

In [167]:
# 합쳐준다 
save17 = pd.concat( [halves17, aa17], join='inner' )
save17 = save17[ save17.police.isnull()==False]
save17 = save17.groupby(['police', 'year']).sum().reset_index(drop=False)
save17.rename(columns={'welfare':'기초생활수급자'},inplace=True)
save17

      police   year  기초생활수급자
0    마산동부경찰서  2017상     4731
1    마산동부경찰서  2017하     4737
2    마산동부경찰서  2018상     4682
3    마산동부경찰서  2018하     4949
4    마산동부경찰서  2019상     5454
..       ...    ...      ...
314  창원중부경찰서  2018하     7422
315  창원중부경찰서  2019상     8181
316  창원중부경찰서  2019하     8580
317  창원중부경찰서  2020상     9192
318  창원중부경찰서  2020하    10116

[319 rows x 3 columns]

In [168]:
save17.police.nunique()

41

In [139]:
# 저장 
# save17.to_csv('전처리17_기초생활수급자_경찰서별_2.csv', header=True, index=False, encoding='utf-8-sig')